<template>
  <v-layout row wrap>
    <v-flex xs12>
      <v-card flat>
        <v-card-text>
          <v-layout row wrap>
            <v-flex xs4>
              <v-text-field label="Código" v-model="descuento.codigo"></v-text-field>
            </v-flex>
            <v-flex xs8>
              <v-text-field label="Nombre" v-model="descuento.nombre"></v-text-field>
            </v-flex>
            <v-flex xs12>
              <v-text-field label="Descripción" v-model="descuento.descripcion" multi-line></v-text-field>
            </v-flex>
            <v-flex xs12>
              <v-switch :label="descuento.imponible ? 'Imponible' : 'No imponible'" v-model="descuento.imponible"></v-switch>
            </v-flex>
            <v-flex xs12>
              <v-switch :label="descuento.tributable ? 'Tributable' : 'No tributable'" v-model="descuento.tributable"></v-switch>
            </v-flex>
            <v-flex xs4>
              <v-switch :label="descuento.hora_extra ? 'Base para hora extra' : 'No cuenta como base para hora extra'" v-model="descuento.hora_extra"></v-switch>
            </v-flex>
            <v-flex xs8>
              <v-switch :label="descuento.gratificacion ? 'Base cálculo gratificación legal' : 'No cuenta en cálculo de gratificación legal'" v-model="descuento.gratificacion"></v-switch>
            </v-flex>
            <v-flex xs12>
              <v-switch :label="descuento.semana_corrida ? 'Base bono semana corrida' : 'No cuenta en bono semana corrida'" v-model="descuento.semana_corrida"></v-switch>
            </v-flex>
          </v-layout>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
  export default {
    data() {
      return {
        descuento: {}
      }
    }
  }

</script>