<template>
  <v-data-table v-model="seleccionado"
                :items="personas"
                :headers="conceptos"
                :total-items="-1"
                :loading="esta_cargando"
                hide-actions
                select-all
                item-key="rut">
    <template slot="headers"
              slot-scope="props">
      <tr>
        <th>
          <v-checkbox :input-value="props.all"
                      :indeterminate="props.indeterminate"
                      primary
                      hide-details
                      @click.native="alternarSeleccion" />
        </th>
        <th class="encabezado-persona">Persona</th>
        <th v-for="(concepto, index) in conceptos"
            :key="index">{{ concepto.nombre_presentacion }}</th>
      </tr>
    </template>
    <template slot="items"
              slot-scope="props">
      <tr :active="props.selected">
        <td>
          <v-checkbox :input-value="props.selected"
                      primary
                      hide-details
                      @click="props.selected = !props.selected" />
        </td>
        <td class="nombre text-xs-right">{{ props.item.nombre_presentacion }}</td>
        <td v-for="(concepto, index) in conceptos"
            :key="index">
          <v-edit-dialog persistent
                         lazy
                         large
                         cancel-text="Cancelar"
                         save-text="Guardar"> {{ formatoMonetario(concepto.monto) }}
            <MontoMonetario slot="input"
                            v-model="concepto.monto"
                            label="Editar" />
          </v-edit-dialog>
        </td>
      </tr>
    </template>
    <template slot="no-data">
      <v-alert :value="true"
               color="error"
               icon="error">
        No hay datos para mostrar
      </v-alert>
    </template>
    <template slot="no-results">
      <v-alert :value="true"
               color="warning"
               icon="warning">
        No hay resultados de búsqueda
      </v-alert>
    </template>
  </v-data-table>
</template>

<script>
import accounting from 'accounting'
import MontoMonetario from '@/components/elements/MontoMonetario'

export default {
  components: {
    MontoMonetario,
  },
  props: {
    value: {
      type: Array,
      default: null,
    },
    color: {
      type: String,
      default: 'primary',
    },
    conceptos: {
      type: Array,
      required: true,
    },
    personas: {
      type: Array,
      required: true,
    },
    esta_cargando: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      seleccionado: [],
    }
  },
  methods: {
    alternarSeleccion() {
      if (this.seleccionado.length) this.seleccionado = []
      else this.seleccionado = this.personas.slice()
    },
    actualizar() {
      this.$emit('input', this.seleccionado)
    },
    formatoMonetario(monto) {
      return accounting.formatMoney(monto, '$', 0, '.')
    },
  },
}
</script>

<style scoped>
.nombre {
  border-right: 1px dashed #ccc;
}
.v-table__overflow .datatable {
  width: 90vw;
  max-width: 90vw;
}
table.table thead th {
  white-space: normal;
  max-width: 58px;
  text-align: left;
}
.encabezado-persona,
.nombre {
  width: 55px;
}
tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.05);
}
</style>
