<template>
  <!-- ToDo: Consiederar cantidad de vacaciones disponibles -->
  <!-- ToDo: Mostrar feriados en el coso -->
  <!-- ToDo: Debemos tener un calendario empresa. isHoliday solo valida los feriados oficiales y no los días "dados" por la coop -->
  <v-form v-model="valid" ref="form">
    <h3>Solicitud de Vacaciones</h3>
    <v-layout row justify-space-around wrap>
      <v-flex xs12 sm4 md3>
        <label>Fecha de inicio</label>
        <v-date-picker v-model="fechaInicio" locale="es-cl" :allowed-dates="allowedDates" required autosave no-title></v-date-picker>
      </v-flex>
      <v-flex xs12 sm4 md3>
        <label>Fecha de término</label>
        <v-date-picker v-model="fechaTermino" locale="es-cl" :allowed-dates="allowedDates" required autosave no-title></v-date-picker>
      </v-flex>
      <v-flex sm12 md3>
        <v-text-field name="comentarios" label="Motivo" multi-line></v-text-field>
        <v-btn color="primary" @click="submit" :disabled="!valid">Crear solicitud</v-btn>
      </v-flex>
    </v-layout>
  </v-form>
</template>


<script>
  export default {
    data () {
      return {
        valido: false,
        fechaInicio: null,
        fechaTermino: null
      }
    },
  }

</script>