<template>
  <CartaPrincipal :enlaces="enlaces"
                  titulo="Vacaciones" />
</template>

<script>
import CartaPrincipal from '@/components/elements/CartaPrincipal'

export default {
  components: {
    CartaPrincipal,
  },
  data() {
    return {
      enlaces: [
        {
          enlace: '/vacaciones/crear',
          icono: 'add',
          titulo: 'Nuevas vacaciones',
        },
        {
          enlace: '/vacaciones/lista',
          icono: 'apps',
          titulo: 'Listado de vacaciones',
        },
      ],
    }
  },
}
</script>
