<template>
  <v-layout row wrap>
    <v-flex xs12>
      <v-form v-model="valido" ref="form" lazy-validation>
        <v-card flat>
          <v-card-title>
            <h5>Notificación</h5>
          </v-card-title>
          <v-card-text>
            <v-layout row wrap>
              <v-flex xs3 sm1>
                <SelectorIcono v-model="notificacion.icono"></SelectorIcono>
              </v-flex>
              <v-flex xs3 sm2>
                <SelectorColor v-model="notificacion.color" :rules="[(v) => !!v || 'Elige un color para la publicación']" required></SelectorColor>
              </v-flex>
              <v-flex xs12 sm9>
                <v-text-field label="Título" v-model="notificacion.nombre_presentacion" :rules="[(v) => !!v || 'Ingresa el título de la notificación']" required></v-text-field>
              </v-flex>
              <v-flex xs6>
                <Fecha label="Publicación" v-model="notificacion.fecha_publicacion"></Fecha>
              </v-flex>
              <v-flex xs6>
                <Fecha label="Término" v-model="notificacion.fecha_termino"></Fecha>
              </v-flex>
              <v-flex xs12>
                <v-text-field label="Contenido" v-model="notificacion.contenido" multi-line></v-text-field>
              </v-flex>
            </v-layout>
          </v-card-text>
          <v-card-actions>
            <BotonEnvio :disabled="!valido" :refs="$refs" enlace="/api/notificacion" :objeto="notificacion" agregarEmpresa>Crear notificación</BotonEnvio>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-flex>
  </v-layout>
</template>

<script>
  import Fecha from '@/components/elements/Fecha'
  import SelectorIcono from '@/components/elements/SelectorIcono'
  import SelectorColor from '@/components/elements/SelectorColor'
  import BotonEnvio from '@/components/elements/BotonEnvio'

  export default {
    components: {
      BotonEnvio,
      Fecha,
      SelectorIcono,
      SelectorColor,
    },
    data() {
      return {
        valido: false,
        notificacion: {},
      }
    }
  }

</script>
