<template>
  <Lista enlace="/api/prestamo" :encabezados="encabezados">
    <template slot="acciones" slot-scope="item">
      <v-card flat>
        <router-link :to="{ name: 'editar-prestamo', params: { id: item.item.id } }">
          <v-btn small color="primary" dark>
            <v-icon left dark>edit</v-icon>
            Editar préstamo
          </v-btn>
        </router-link>
        <v-btn small color="primary" dark @click="editarCuotas(item.item.id)">
          <v-icon left dark>close</v-icon>
          Cerrar préstamo
        </v-btn>
        <v-btn small color="primary" dark @click="editarCuotas(item.item.id)">
          <v-icon left dark>edit</v-icon>
          Editar cuotas
        </v-btn>
        <BotonImprimir :id="item.item.id" color="primary"></BotonImprimir>
      </v-card>
    </template>
  </Lista>
</template>

<script>
import { mapGetters } from 'vuex'
import accounting from 'accounting'
import Lista from '@/components/elements/Lista'
import BotonEnviarCorreo from '@/components/elements/BotonEnviarCorreo'
import BotonImprimir from '@/components/elements/BotonImprimir'

export default {
  components: {
    Lista,
    BotonEnviarCorreo,
    BotonImprimir,
  },
  data() {
    return {
      encabezados: [
        {
          text: 'ID',
          value: 'id',
        },
        {
          text: 'Monto',
          value: 'monto',
          callback: this.formatoMonetario,
        },
        {
          text: 'Responsable',
          value: 'responsable',
        },
      ],
    }
  },
  methods: {
    formatoMonetario(monto) {
      return accounting.formatMoney(monto, '$', 0, '.')
    },
  },
}
</script>
