<template>
  <CartaPrincipal titulo="Préstamos" :enlaces="enlaces"></CartaPrincipal>
</template>

<script>
  import CartaPrincipal from '@/components/elements/CartaPrincipal'

  export default {
    components: {
      CartaPrincipal
    },
    data() {
      return {
        enlaces: [{
          enlace: "/prestamos/crear",
          icono: "add",
          titulo: "Nuevo préstamo"
        }, {
          enlace: "/prestamos/lista",
          icono: "apps",
          titulo: "Listado"
        }]
      }
    }
  }

</script>
