<template>
  <CartaPrincipal :enlaces="enlaces"
                  titulo="Centros de costos" />
</template>

<script>
import CartaPrincipal from '@/components/elements/CartaPrincipal'

export default {
  components: {
    CartaPrincipal,
  },
  data() {
    return {
      enlaces: [
        {
          enlace: '/centros-de-costos/crear',
          icono: 'add',
          titulo: 'Nuevo centro de costos',
        },
        {
          enlace: '/centros-de-costos/lista',
          icono: 'apps',
          titulo: 'Listado de centros',
        },
        {
          enlace: '/centros-de-costos/lista/completa',
          icono: 'view',
          titulo: 'Mostrar todos',
        },
      ],
    }
  },
}
</script>
