<template>
  <v-form ref="form"
          v-model="valido"
          lazy-validation>
    <v-layout row
              wrap>
      <v-flex xs12>
        <v-card flat>
          <v-card-title>
            <h5>General</h5>
          </v-card-title>
          <v-card-text>
            <v-layout row
                      wrap>
              <v-flex xs12
                      md4>
                <!-- TODO: No sea mejor que no exista el componente correlativo, y que cada componente CrearAlgo teng asu propia lógica de correlación? -->
                <Correlativo v-if="!editando"
                             v-model="centro_costo.codigo"
                             :loading="cargando"
                             enlace="/api/centro_costo"
                             label="Código"
                             required />
                <v-text-field v-else
                              v-model="centro_costo.codigo"
                              :loading="cargando"
                              label="Código"
                              required />
              </v-flex>
              <v-flex xs12
                      md8>
                <v-text-field v-model="centro_costo.nombre_presentacion"
                              :loading="cargando"
                              label="Nombre"
                              required />
              </v-flex>
              <SelectorBotones v-model="centro_costo.estado_centro_costo_id"
                               :campos="['id', 'nombre_presentacion', 'codigo']"
                               enlace="/api/estado_centro_costo"
                               label="Estado" />
              <v-flex xs12
                      md6>
                <SelectorListas v-model="centro_costo.cotizacion"
                                :loading="cargando"
                                :campos="['id', 'nombre_presentacion', 'codigo']"
                                enlace="/api/cotizacion"
                                label="Cotización" />
              </v-flex>
              <!-- <v-flex xs12 md6>
                <SelectorListas v-model="centro_costo.presupuesto" enlace="/api/presupuesto" label="Presupuesto" />
              </v-flex> -->
              <v-flex xs12
                      md6>
                <SelectorListas v-model="centro_costo.adicional_de_centro_costo_id"
                                :loading="cargando"
                                :campos="['id', 'nombre_presentacion', 'codigo']"
                                enlace="/api/centro_costo"
                                label="Adicional de" />
              </v-flex>
              <v-flex xs12
                      md6>
                <SelectorListas v-model="centro_costo.responsable_id"
                                :loading="cargando"
                                enlace="/api/persona"
                                label="Persona a cargo" />
              </v-flex>
              <v-flex xs12
                      md6>
                <MontoMonetario v-model="centro_costo.monto"
                                :loading="cargando"
                                label="Monto" />
              </v-flex>
              <v-flex xs6>
                <Fecha v-model="centro_costo.fecha_inicio"
                       label="Fecha inicio de obra" />
              </v-flex>
              <v-flex xs6>
                <Fecha v-model="centro_costo.fecha_cierre"
                       label="Fecha cierre de obra" />
              </v-flex>
              <v-flex xs12>
                <v-textarea v-model="centro_costo.comentarios"
                            label="Comentario" />
              </v-flex>
            </v-layout>
          </v-card-text>
        </v-card>
      </v-flex>
      <v-flex xs12>
        <v-card flat>
          <v-card-actions>
            <BotonEnvio :disabled="!valido"
                        :refs="$refs"
                        :objeto="centro_costo"
                        :editando="editando"
                        enlace="/api/centro_costo"
                        to="/centros-de-costos"
                        agregar-empresa>Guardar centro de costos</BotonEnvio>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-form>
</template>

<script>
import Fecha from '@/components/elements/Fecha'
import BotonEnvio from '@/components/elements/BotonEnvio'
import SelectorListas from '@/components/elements/SelectorListas'
import SelectorBotones from '@/components/elements/SelectorBotones'
import MontoMonetario from '@/components/elements/MontoMonetario'
import Correlativo from '@/components/elements/Correlativo'

export default {
  components: {
    Fecha,
    BotonEnvio,
    SelectorListas,
    SelectorBotones,
    MontoMonetario,
    Correlativo,
  },
  props: {
    id: {
      type: Number,
      default: null,
    },
  },
  data() {
    return {
      valido: false,
      editando: false,
      cargando: false,
      centro_costo: {},
    }
  },
  created() {
    if (this.id) {
      this.editando = true
      this.cargando = true
      this.axios
        .get('/api/centro_costo/' + this.id)
        .then(response => {
          this.centro_costo = Object.assign(
            {},
            this.centro_costo,
            response.data,
          )
          this.cargando = false
        })
        .catch(error => {
          this.$store.dispatch('agregarError', {
            titulo: 'CrearCentroCosto',
            error,
          })
          this.cargando = false
        })
    }
  },
}
</script>
