<template>
  <Lista :encabezados="encabezados"
         enlace="/api/centro_costo">
    <template slot="acciones"
              slot-scope="item">
      <v-card flat>
        <v-btn :to="{ name: 'editar-centro-de-costos', params: { id: item.item.id } }"
               small
               color="primary"
               dark>
          <v-icon left
                  dark>edit</v-icon>
          Editar centro
        </v-btn>
        <v-btn :to="{ name: 'crear-gasto', params: { centro_costo_id: item.item.id } }"
               small
               color="primary"
               dark>
          <v-icon left
                  dark>pageview</v-icon>
          Agregar gasto
        </v-btn>
        <v-btn :to="{ name: 'crear-cotizacion', params: { centro_costo_id: item.item.id } }"
               small
               color="primary"
               dark>
          <v-icon left
                  dark>fas fa-file-alt</v-icon>
          Crear cotización
        </v-btn>
        <!-- TODO: Si tiene cotizacion, mostrar Ver cotización y no Crear. Añadir "Calcular Balance"
          <v-btn small color="primary" dark @click="crearCotizacion(item.item.id)">
          <v-icon left dark>fa-file-text</v-icon>
          Crear cotización
        </v-btn> -->
        <v-btn v-if="tieneCotizacion(item.item)"
               :to="{ name: 'calcular-balance', params: { centro_costo_id: item.item.id } }"
               small
               color="primary"
               dark>
          <v-icon left
                  dark>fas fa-calculator</v-icon>
          Calcular balance
        </v-btn>
        <v-btn :to="{ name: 'lista-centros-de-costos' }"
               small
               color="primary"
               dark
               @click="eliminarCentroCostos(item.item)">
          <v-icon left
                  dark>fas fa-times</v-icon>
          Cerrar Centro de Costos
        </v-btn>
        <BotonImprimir :id="item.item.id"
                       color="primary" />
      </v-card>
    </template>
  </Lista>
</template>

<script>
import { mapGetters } from 'vuex'
import accounting from 'accounting'
import Lista from '@/components/elements/Lista'
import BotonImprimir from '@/components/elements/BotonImprimir'

export default {
  components: {
    Lista,
    BotonImprimir,
  },
  data() {
    return {
      encabezados: [
        {
          text: 'Código',
          value: 'codigo',
        },
        {
          text: 'Nombre',
          value: 'nombre_presentacion',
        },
        {
          text: 'Responsable',
          value: 'responsable',
          sql_column: 'responsable_id',
          callback: responsable =>
            !responsable ? '' : responsable.nombre_presentacion,
        },
        {
          text: 'Estado',
          value: 'estado_centro_costo',
          sql_column: 'estado_centro_costo_id',
          callback: estado => (!estado ? '' : estado.nombre_presentacion),
        },
        {
          text: 'Creación',
          value: 'created_at',
        },
      ],
    }
  },
  methods: {
    tieneCotizacion(centroCosto) {
      return centroCosto.cotizacion_id !== null
    },
    eliminarCentroCostos(centroCosto) {
      if (
        confirm(
          'Deseas eliminar el centro de costos ' +
            centroCosto.nombre_presentacion,
        )
      )
        this.axios.delete('/api/centro_costo/' + centroCosto.id).then(() => {
          alert(centroCosto.nombre_presentacion + ' eliminado.')
        })
    },
  },
}
</script>
