<template>
  <v-form v-model="valido" ref="form" lazy-validation>
    <v-layout row wrap>
      <v-flex xs2 v-if="editando">
        <v-text-field v-model="cotizacion.codigo" label="Código" readonly></v-text-field>
      </v-flex>
      <v-flex :xs10="editando" :xs12="!editando">
        <v-text-field v-model="cotizacion.nombre" label="Nombre de la cotización" required></v-text-field>
      </v-flex>
      <v-flex xs12 md6>
        <v-card flat>
          <v-card-title>
            <h5>Interno</h5>
          </v-card-title>
          <v-card-text>
            <v-layout row wrap>
              <v-flex xs12>
                <SelectorListas v-model="cotizacion.responsable_id" :itemValue="id" enlace="/api/persona" label="Persona a cargo" required></SelectorListas>
              </v-flex>
              <v-flex xs12>
                <SelectorListas v-model="cotizacion.estado_cotizacion" enlace="/api/estado_cotizacion" label="Estado"></SelectorListas>
              </v-flex>
              <v-flex xs12>
                <SelectorListas v-model="cotizacion.tipo_cotizacion" enlace="/api/tipo_cotizacion" label="Tipo"></SelectorListas>
              </v-flex>
              <v-flex xs12 md6>
                <Fecha v-model="cotizacion.fecha_envio" label="Fecha envío"></Fecha>
              </v-flex>
              <v-flex xs12 md6>
                <Fecha v-model="cotizacion.fecha_solicitud" label="Fecha solicitud"></Fecha>
              </v-flex>
            </v-layout>
          </v-card-text>
        </v-card>
      </v-flex>
      <!-- RECEPTOR -->
      <v-flex xs12 md6>
        <v-card flat>
          <v-card-title>
            <h5>Cliente</h5>
          </v-card-title>
          <v-card-text>
            <v-layout row wrap>
              <v-flex xs12>
                <SelectorRutNombre v-model="cotizacion.cliente" enlace="/api/cliente" labelRut="RUT Cliente" labelNombre="Razón social"></SelectorRutNombre>
              </v-flex>
              <v-flex xs12>
                <v-select :items="cotizacion.cliente.contactos" item-text="nombre" v-model="cotizacion.cliente.contacto" label="Contacto" autocomplete></v-select>
              </v-flex>
            </v-layout>
          </v-card-text>
          <v-card-actions>
            <v-btn flat color="primary" @click="nuevoCliente">Crear nuevo cliente</v-btn>
            <v-btn flat color="primary" @click="nuevoContacto">Crear nuevo contacto</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
      <!-- COTIZACION -->
      <v-flex xs12>
        <v-card flat :class="colorPastel">
          <v-card-title>
            <h5>Cotización</h5>
          </v-card-title>
          <v-card-text>
            <v-layout v-for="(partida, index) in cotizacion.partidas" :key="index" row wrap>
              <v-flex xs4 md1>
                <v-text-field v-model="partida.codigo" label="Código" single-line></v-text-field>
              </v-flex>
              <v-flex xs6 md5>
                <v-text-field v-model="partida.nombre" label="Nombre" single-line></v-text-field>
              </v-flex>
              <v-flex xs3 md2>
                <v-text-field v-model="partida.cantidad" label="Cantidad" type="number" single-line></v-text-field>
              </v-flex>
              <v-flex xs4 md2>
                <v-text-field v-model="partida.unidad" label="Unidad" single-line></v-text-field>
              </v-flex>
              <v-flex xs5 md2>
                <v-text-field v-model="partida.precio" label="Precio" single-line></v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-text-field v-model="partida.descripcion" label="Descripción"></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout row wrap>
              <v-flex xs6 md4 offset-xs6 offset-md8>
                <v-text-field v-model="cotizacion.iva" label="IVA"></v-text-field>
              </v-flex>
              <v-flex xs6 md4 offset-xs6 offset-md8>
                <v-text-field v-model="totalCotizacion" disabled label="Total"></v-text-field>
              </v-flex>
            </v-layout>
          </v-card-text>
          <v-card-actions>
            <v-btn flat color="primary" @click="nuevaPartida">Ingresar nueva partida</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
      <v-flex xs12>
        <v-card flat>
          <v-card-title>
            <h5>Comentarios</h5>
          </v-card-title>
          <v-card-text>
            <v-text-field v-model="cotizacion.comentarios" label="Comentario" multi-line></v-text-field>
          </v-card-text>
        </v-card>
      </v-flex>
      <v-flex xs12>
        <v-card flat>
          <v-card-text>
            <slot name="acciones" :item="props.item"></slot>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-form>
</template>

<script>
import { mapGetters } from 'vuex'
import SelectorListas from '@/components/elements/SelectorListas'
import SelectorRutNombre from '@/components/elements/SelectorRutNombre'
import Fecha from '@/components/elements/Fecha'

export default {
  components: {
    SelectorListas,
    SelectorRutNombre,
    Fecha,
  },
  props: {
    editando: {
      type: Boolean,
      default: false,
    },
    cotizacion: {
      type: Object,
      default: () => {
        return {
          cliente: {},
          partidas: [{}],
          pagos: [{}],
        }
      },
    },
  },
  data() {
    return {
      valido: false,
      editando: false,
    }
  },
  computed: {
    totalCotizacion() {
      //this.cotizacion.productos
      return this.cotizacion.iva
    },
  },
  methods: {
    nuevoCliente() {
      //modal
    },
    nuevoContacto() {
      //modal
    },
    nuevaPartida() {
      this.cotizacion.partidas.push({})
    },
  },
}
</script>
