<template>
  <v-form v-model="valido" ref="form" lazy-validation>
    <!-- datos de cliente -->
    <v-layout row wrap>
      <v-flex xs12 sm6>
        <v-card flat>
          <v-card-title>
            <div>
              <h5>Cliente</h5>
            </div>
          </v-card-title>
          <v-card-text>
            <v-layout row wrap>
              <v-flex xs6>
                <v-select :items="clientes" item-text="rut" v-model="cotizacion.cliente" label="RUT" autocomplete required></v-select>
              </v-flex>
              <v-flex xs6>
                <v-select :items="clientes" item-text="nombre_presentacion" v-model="cotizacion.cliente" label="Nombre" autocomplete required></v-select>
              </v-flex>
            </v-layout>
          </v-card-text>
          <v-card-actions>
            <v-btn flat :class="estiloBotonSecundario" @click="nuevoCliente">Crear nuevo cliente</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
      <!-- fin de cliente -->

      <!-- contacto -->
      <v-flex xs12 sm6>
        <v-card flat>
          <v-card-title>
            <div>
              <h5>Contacto</h5>
            </div>
          </v-card-title>
          <v-card-text>
            <v-layout row wrap>
              <v-flex xs12>
                <v-select v-model="cotizacion.cliente.contacto" label="Nombre de contacto" chips tags :items="contactos(cotizacion.cliente)"
                  item-text="nombres" autocomplete></v-select>
              </v-flex>
            </v-layout>
          </v-card-text>
        </v-card>
      </v-flex>
      <!-- fin contacto -->

      <!-- dirección -->
      <v-flex xs12 sm6>
        <v-card flat>
          <v-card-title>
            <div>
              <h5>Dirección</h5>
            </div>
          </v-card-title>
          <v-card-text v-for="(direccion, index) in cotizacion.direcciones" :key="index">
            <direccion v-model="cotizacion.direcciones[index]"></direccion>
          </v-card-text>
          <v-card-actions>
            <v-btn flat :class="estiloBotonSecundario" @click="nuevaDireccion">Agregar otra dirección</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
      <!-- fin dirección -->

      <!-- cotizacion -->
      <v-flex xs12>
        <v-card flat>
          <v-card-title>
            <div>
              <h5></h5>
            </div>
          </v-card-title>
          <v-card-text>
          </v-card-text>
        </v-card>
      </v-flex>
      <!-- fin cotizacion -->
      <!-- Información adicional -->
      <v-flex xs12>
        <v-card flat>
          <v-card-title>
            <div>
              <h5>Información adicional</h5>
            </div>
          </v-card-title>
          <v-card-text>
            <v-text-field v-model="cotizacion.comentarios" label="Comentario" multi-line></v-text-field>
          </v-card-text>
        </v-card>
      </v-flex>
      <!-- fin información adicional -->
      <v-btn color="primary" :disabled="!valid">Crear cotización</v-btn>
    </v-layout>
  </v-form>
</template>

<script>
import {
    mapGetters
  } from 'vuex'
  
  export default {
    data() {
      return {
        valido: false,
        cotizacion: {
          cliente: {},
          direcciones: [{}],
          clasificaciones: {}
        },
        clientes: [],
      }
    },
    created() {
      this.axios.get('/api/cliente')
        .then(response => {
          this.clientes = response.data
        })
        .catch(error => {
          this.$store.dispatch('agregarError', {titulo: '', error})
        })
    },
    computed: {
      ...mapGetters(['estiloBotonPrimario', 'estiloBotonSecundario']),
    },
    methods: {
      nuevaDireccion() {
        this.cotizacion.direcciones.push({})
      },
      nuevoCliente() {

      },
      contactos(empresa) {
        return this.axios.get('/api/contactos')
      }
    }
  }

</script>
