<template>
  <v-form ref="form"
          v-model="valido"
          lazy-validation>
    <v-container grid-list-md>
      <v-layout row
                wrap>
        <v-flex xs2>
          <Correlativo v-model="cotizacion.codigo"
                       :readonly="editando"
                       :rules="[(v) => !!v || 'Ingresa el código único de la cotización']"
                       enlace="/api/cotizacion"
                       label="Código"
                       required />
        </v-flex>
        <v-flex xs10>
          <v-text-field v-model="cotizacion.nombre_presentacion"
                        :rules="[(v) => !!v || 'Ingresa el nombre de la cotización']"
                        label="Nombre de la cotización"
                        required />
        </v-flex>
        <v-flex xs12
                md6>
          <v-card flat>
            <v-card-title>
              <h5>Interno</h5>
            </v-card-title>
            <v-card-text>
              <v-layout row
                        wrap>
                <v-flex xs12>
                  <SelectorListas v-model="cotizacion.responsable_cotizacion_id"
                                  :item-value="id"
                                  :rules="[(v) => !!v || 'Ingresa la persona a cargo de la cotización']"
                                  enlace="/api/persona"
                                  label="Responsable cotización"
                                  required />
                </v-flex>
                <v-flex xs12>
                  <SelectorListas v-model="cotizacion.responsable_proyecto_id"
                                  :item-value="id"
                                  enlace="/api/persona"
                                  label="Responsable proyecto" />
                </v-flex>
                <v-flex xs12>
                  <SelectorListas v-model="cotizacion.estado_cotizacion_id"
                                  :item-value="id"
                                  :campos="['id', 'nombre_presentacion', 'codigo']"
                                  enlace="/api/estado_cotizacion"
                                  label="Estado" />
                </v-flex>
                <v-flex xs12>
                  <SelectorListas v-model="cotizacion.tipo_cotizacion_id"
                                  :item-value="id"
                                  :campos="['id', 'nombre_presentacion', 'codigo']"
                                  enlace="/api/tipo_cotizacion"
                                  label="Tipo" />
                </v-flex>
                <v-flex xs12
                        md6>
                  <Fecha v-model="cotizacion.fecha_envio"
                         label="Fecha envío" />
                </v-flex>
                <v-flex xs12
                        md6>
                  <Fecha v-model="cotizacion.fecha_solicitud"
                         label="Fecha solicitud" />
                </v-flex>
              </v-layout>
            </v-card-text>
          </v-card>
        </v-flex>
        <!-- RECEPTOR -->
        <v-flex xs12
                md6>
          <v-card flat>
            <v-card-title>
              <h5>Cliente</h5>
            </v-card-title>
            <v-card-text>
              <v-layout row
                        wrap>
                <v-flex xs12>
                  <SelectorRutNombre v-model="cotizacion.cliente"
                                     :rules="[(v) => !!v || 'Ingresa el cliente para quien es la cotización']"
                                     enlace="/api/cliente"
                                     label-rut="RUT Cliente"
                                     label-nombre="Razón social"
                                     required />
                </v-flex>
                <v-flex xs12>
                  <v-autocomplete v-model="cotizacion.cliente.contacto"
                                  :items="cotizacion.cliente.contactos"
                                  item-text="nombre"
                                  label="Contacto">
                    <template slot="no-data">
                      <v-btn flat
                             color="primary"
                             @click="cotizacion.cliente.nuevoContacto">Crear nuevo contacto</v-btn>
                    </template>
                  </v-autocomplete>
                </v-flex>
              </v-layout>
            </v-card-text>
            <v-card-actions>
              <v-btn flat
                     color="primary"
                     @click="cotizacion.nuevoCliente">Crear nuevo cliente</v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
        <v-flex xs12
                md6>
          <MontoMonetario v-model="montoNetoPresupuesto"
                          label="Neto presupuesto" />
        </v-flex>
        <!-- PRESUPUESTOS -->
        <v-flex xs12>
          <v-card raised
                  class="card--flex-toolbar">
            <v-toolbar card
                       @click="verPresupuesto = !verPresupuesto">
              <v-toolbar-title class="body-2 grey--text">Presupuesto</v-toolbar-title>
            </v-toolbar>
            <v-card-text v-show="verPresupuesto">
              <v-layout row
                        wrap>
                <v-flex xs12>
                  <v-card flat>
                    <v-card-title>
                      <h5>Valores productivos</h5>
                    </v-card-title>
                    <v-card-text>
                      <v-layout row
                                wrap>
                        <v-flex xs12
                                md4>
                          <MontoMonetario v-model="cotizacion.valor_hora"
                                          label="Valor hora persona" />
                        </v-flex>
                        <v-flex xs12
                                md4>
                          <MontoMonetario v-model="cotizacion.valor_cip"
                                          label="Valor CIP" />
                        </v-flex>
                        <v-flex xs12
                                md4>
                          <v-radio-group v-model="afectoAIVA"
                                         row>
                            <v-radio :value="true"
                                     label="Afecto a IVA" />
                            <v-radio :value="false"
                                     label="Exento de IVA" />
                          </v-radio-group>
                        </v-flex>
                      </v-layout>
                    </v-card-text>
                  </v-card>
                </v-flex>
                <v-flex xs12>
                  <v-btn block
                         dark
                         color="primary"
                         @click="cotizacion.nuevaPartida">Ingresar nueva partida</v-btn>
                </v-flex>
                <v-flex xs12>
                  <v-container fluid
                               grid-list-md>
                    <v-layout row
                              wrap>
                      <LineaPresupuesto v-for="(linea, key) in cotizacion.partidas"
                                        v-model="cotizacion.partidas[key]"
                                        :utilidad="cotizacion.porcentaje_utilidad"
                                        :numero="key"
                                        :key="key" />
                    </v-layout>
                  </v-container>
                </v-flex>
                <v-flex xs12>
                  <v-layout row
                            wrap>
                    <v-flex xs6
                            md4
                            offset-xs6
                            offset-md8>
                      <MontoMonetario v-model="montoNetoPresupuesto"
                                      label="Neto presupuesto" />
                    </v-flex>
                    <v-flex xs6
                            md4
                            offset-xs6
                            offset-md8>
                      <PorcentajeMonetario v-model="cotizacion.monto_utilidad"
                                           :total="montoNetoPresupuesto"
                                           :porcentaje="cotizacion.porcentaje_utilidad"
                                           label-monto="Utilidad"
                                           label-porcentaje="Porcentaje utilidad" />
                    </v-flex>
                    <v-flex xs6
                            md4
                            offset-xs6
                            offset-md8>
                      <MontoMonetario v-model="montoTotalPresupuesto"
                                      label="Total presupuesto"
                                      disabled />
                    </v-flex>
                  </v-layout>
                </v-flex>
              </v-layout>
            </v-card-text>
          </v-card>
        </v-flex>

        <!-- COTIZACION -->
        <v-flex xs12>
          <v-card raised
                  class="card--flex-toolbar">
            <v-toolbar card
                       @click="verCotizacion = !verCotizacion">
              <v-toolbar-title class="body-2 grey--text">Cotización</v-toolbar-title>
            </v-toolbar>
            <v-card-text v-show="verCotizacion">
              <LineaCotizacion v-for="(linea, key) in cotizacion.partidas"
                               v-model="cotizacion.partidas[key]"
                               :key="key" />
              <v-layout row
                        wrap>
                <v-flex xs6
                        md4
                        offset-xs6
                        offset-md8>
                  <MontoMonetario v-model="montoNetoCotizacion"
                                  label="Neto cotización"
                                  disabled />
                </v-flex>
                <v-flex v-show="afectoAIVA"
                        xs6
                        md4
                        offset-xs6
                        offset-md8>
                  <MontoMonetario v-model="montoIVACotizacion"
                                  label="IVA cotización"
                                  readonly />
                </v-flex>
                <v-flex xs6
                        md4
                        offset-xs6
                        offset-md8>
                  <Porcentaje v-model="cotizacion.porcentaje_descuento"
                              label="Descuento cotización" />
                </v-flex>
                <v-flex xs6
                        md4
                        offset-xs6
                        offset-md8>
                  <MontoMonetario v-model="montoTotalCotizacion"
                                  label="Total"
                                  disabled />
                </v-flex>
              </v-layout>
            </v-card-text>
          </v-card>
        </v-flex>

        <v-flex xs12>
          <v-card flat>
            <v-card-title>
              <h5>Comentarios</h5>
            </v-card-title>
            <v-card-text>
              <v-textarea v-model="cotizacion.comentarios"
                          label="Comentario" />
            </v-card-text>
          </v-card>
        </v-flex>
        <v-flex xs12>
          <v-card flat>
            <v-card-text>
              <BotonEnvio :disabled="!valido"
                          :refs="$refs"
                          :objeto="cotizacion"
                          :extracciones="{'cliente_id': 'cliente.id'}"
                          enlace="/api/cotizacion"
                          to="/centros-de-costos"
                          agregar-empresa>Crear cotización</BotonEnvio>
              <v-tooltip top>
                <BotonEnvio slot="activator"
                            :disabled="!valido"
                            :refs="$refs"
                            :color="estiloBotonPrimario"
                            :objeto="cotizacion"
                            :extracciones="{'cliente_id': 'cliente.id'}"
                            enlace="/api/cotizacion"
                            to="/centros-de-costos/crear"
                            agregar-empresa>Aprobar cotización</BotonEnvio>
                <span>Aprobar cotización (Crear Centro de Costos)</span>
              </v-tooltip>
              <BotonEnvio slot="activator"
                          :color="estiloBotonSecundario"
                          :objeto="cotizacion"
                          enlace="/api/cotizacion"
                          to="/cotizaciones"
                          agregar-empresa
                          actualizar>Rechazar cotización</BotonEnvio>
              <BotonEnvio slot="activator"
                          :disabled="!valido"
                          :refs="$refs"
                          :color="estiloBotonPrimario"
                          :objeto="cotizacion"
                          :extracciones="{'cliente_id': 'cliente.id'}"
                          enlace="/api/cotizacion"
                          to="/cotizaciones"
                          agregar-empresa>Rechazar cotización</BotonEnvio>
              <v-btn :disabled="!valido"
                     color="teal"
                     dark
                     @click="guardarBorrador">Guardar borrador</v-btn>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </v-form>
</template>

<script>
import { mapGetters, mapState } from 'vuex'

import Correlativo from '@/components/elements/Correlativo'
import BotonEnvio from '@/components/elements/BotonEnvio'
import SelectorListas from '@/components/elements/SelectorListas'
import SelectorRutNombre from '@/components/elements/SelectorRutNombre'
import Fecha from '@/components/elements/Fecha'
import Porcentaje from '@/components/elements/Porcentaje'
import PorcentajeMonetario from '@/components/elements/PorcentajeMonetario'
import MontoMonetario from '@/components/elements/MontoMonetario'
import LineaCotizacion from '@/components/Cotizaciones/LineaCotizacion'
import LineaPresupuesto from '@/components/Cotizaciones/LineaPresupuesto'

import Cotizacion from '@/modelos/Cotizacion.js'

export default {
  components: {
    Correlativo,
    BotonEnvio,
    SelectorListas,
    SelectorRutNombre,
    Fecha,
    Porcentaje,
    PorcentajeMonetario,
    LineaCotizacion,
    LineaPresupuesto,
    MontoMonetario,
  },
  props: {
    id: {
      type: Number,
      default: null,
    },
  },
  data() {
    return {
      valido: false,
      editando: false,
      afectoAIVA: true,
      verPresupuesto: true,
      verCotizacion: true,
      //TODO: Crear componente que saque el iva de BD y calcule recibiendo el monto afecto
      iva: 0.19,
      cotizacion: new Cotizacion(),
    }
  },
  computed: {
    ...mapGetters(['estiloBotonPrimario', 'estiloBotonSecundario']),
    ...mapState({
      personaUsuario: state => state.perfil.personaUsuario,
      unidadProductivaUsuario: state => state.perfil.unidadProductivaUsuario,
    }),
    montoNetoPresupuesto() {
      let valor = Object.values(this.cotizacion.partidas).reduce(
        (suma, linea) => {
          return suma + parseInt(linea.netoPresupuesto(), 10) || 0
        },
        0,
      )
      return valor
    },
    montoUtilidadPresupuesto() {
      return (
        (this.montoNetoPresupuesto * this.cotizacion.porcentaje_utilidad) / 100
      )
    },
    montoTotalPresupuesto() {
      return this.montoNetoPresupuesto + this.montoUtilidadPresupuesto
    },
    montoNetoCotizacion() {
      return this.montoTotalPresupuesto
    },

    /**
     * El monto de descuento se calcula sobre el neto, ignorando la utilidad.
     */
    montoDescuentoCotizacion() {
      let descuento =
        (this.montoNetoCotizacion * this.cotizacion.porcentaje_descuento) / 100
      return parseInt(descuento, 10) || 0
    },
    montoIVACotizacion() {
      return this.iva * parseInt(this.montoNetoCotizacion, 10) || 0
    },
    montoTotalCotizacion() {
      let iva = this.afectoAIVA ? this.montoIVACotizacion : 0
      return iva + this.montoNetoCotizacion - this.montoDescuentoCotizacion
    },
  },
  created() {
    if (this.id) {
      this.editando = true
      this.axios
        .get('/api/cotizacion/' + this.id)
        .then(response => {
          this.cotizacion = Object.assign(
            new Cotizacion(),
            this.cotizacion,
            response.data,
          )
          // this.cotizacion.responsable_cotizacion_id = response.data.responsable_cotizacion_id
          this.$store.dispatch(
            'cambiarTitulo',
            'Editando ' +
              this.cotizacion.codigo +
              ' ' +
              this.cotizacion.nombre_presentacion,
          )
        })
        .catch(error => {
          //TODO: Revisar que modelo exista(si no backend devuelve 404)
          console.log(error)
          this.$store.dispatch('agregarError', {
            titulo: 'CrearCotizacion',
            error,
          })
        })
    } else {
      this.cotizacion.responsable_cotizacion_id = this.personaUsuario.id
      this.cotizacion.valor_cip = this.unidadProductivaUsuario.valor_cip
      // TODO: valores por backend
      this.cotizacion.valor_hora = 3000
      this.cotizacion.porcentaje_utilidad = 26
      this.cotizacion.porcentaje_descuento = 0
    }
  },

  methods: {
    guardarBorrador() {
      localStorage.setItem('testObject', JSON.stringify(this.cotizacion))
    },
  },
}
</script>
