<template>
  <v-layout row
            wrap>
    <v-flex xs4
            md1>
      <v-text-field v-model="partida.numero"
                    label="Número"
                    type="number"
                    min="1"
                    @input="actualizar" />
    </v-flex>
    <v-flex xs4
            md1>
      <v-text-field v-model="partida.codigo"
                    label="Código"
                    @input="actualizar" />
    </v-flex>
    <v-flex xs6
            md5>
      <v-text-field v-model="partida.nombre_presentacion"
                    label="Nombre"
                    @input="actualizar" />
    </v-flex>
    <v-flex xs3
            md1>
      <v-text-field v-model="partida.cantidad"
                    label="Cantidad"
                    type="number"
                    min="1"
                    @input="actualizar" />
    </v-flex>
    <v-flex xs4
            md2>
      <v-text-field v-model="partida.unidad"
                    label="Unidad"
                    @input="actualizar" />
    </v-flex>
    <v-flex xs5
            md2>
      <MontoMonetario v-model="partida.precio_cotizacion"
                      label="Precio"
                      @input="actualizar" />
    </v-flex>
    <v-flex xs12>
      <EditorMarkdown v-model="partida.descripcion"
                      label="Descripción"
                      @input="actualizar" />
    </v-flex>
  </v-layout>
</template>

<script>
import MontoMonetario from '@/components/elements/MontoMonetario'
import EditorMarkdown from '@/components/elements/EditorMarkdown'
import Partida from '@/modelos/Partida.js'

export default {
  components: {
    MontoMonetario,
    EditorMarkdown,
  },
  props: {
    value: {
      type: Object,
      default: null,
    },
  },
  data() {
    return {
      partida: new Partida(),
    }
  },
  created() {
    this.partida = this.value
  },
  methods: {
    actualizar() {
      this.$emit('input', this.partida)
    },
  },
}
</script>
