<template>
  <Lista :encabezados="encabezados"
         enlace="/api/cotizacion">
    <template slot="acciones"
              slot-scope="item">
      <v-card flat>
        <v-btn small
               color="primary"
               dark
               @click="subcotizar(item.item.id)">
          <v-icon left
                  dark>edit</v-icon>
          Crear basado en esta
        </v-btn>
        <router-link :to="{ name: 'editar-cotizacion', params: { id: item.item.id } }">
          <v-btn small
                 color="primary"
                 dark>
            <v-icon left
                    dark>edit</v-icon>
            Editar cotización
          </v-btn>
        </router-link>
        <BotonImprimir :id="item.item.id"
                       color="primary" />
      </v-card>
    </template>
  </Lista>
</template>

<script>
import accounting from 'accounting'
import Lista from '@/components/elements/Lista'
import BotonImprimir from '@/components/elements/BotonImprimir'

export default {
  components: {
    Lista,
    BotonImprimir,
  },
  data() {
    return {
      encabezados: [
        {
          text: 'Código',
          value: 'codigo',
        },
        {
          text: 'Nombre',
          value: 'nombre_presentacion',
        },
        {
          text: 'Cliente',
          value: 'cliente',
          sql_column: 'cliente_id',
          callback: cliente => cliente.nombre_presentacion,
        },
        {
          text: 'Estado',
          value: 'estado_cotizacion',
          sql_column: 'estado_cotizacion_id',
          callback: estado => estado.nombre_presentacion,
        },
        {
          text: 'Total',
          value: 'total',
          callback: this.formatoMonetario,
        },
        {
          text: 'Fecha solicitud',
          value: 'fecha_solicitud',
        },
      ],
    }
  },
  methods: {
    subcotizar(cotizacion) {},
    formatoMonetario(monto) {
      return accounting.formatMoney(monto, '$', 0, '.')
    },
  },
}
</script>
