<template>
  <v-form v-model="valido" ref="form" lazy-validation>
    <v-layout row wrap>
      <v-flex xs12>
        <SelectorListas v-model="presupuesto.centro_costo" enlace="/api/centro_costo" label="Centro de Costos" :campos="['id', 'nombre_presentacion', 'codigo']" required></SelectorListas>
      </v-flex>
      <v-flex xs12>
        <v-card>
          <v-card-title>
            <h5>Valores productivos</h5>
          </v-card-title>
          <v-card-text>
            <v-layout row wrap>
              <v-flex xs12 md6>
                <MontoMonetario v-model="presupuesto.valor_hora" label="Valor hora persona"></MontoMonetario>
              </v-flex>
              <v-flex xs12 md6>
                <MontoMonetario v-model="presupuesto.valor_cip" label="Valor CIP"></MontoMonetario>
              </v-flex>
            </v-layout>
          </v-card-text>
        </v-card>
      </v-flex>
      <v-flex xs12>
        <v-card>
          <v-card-title>
            <h5>Estimación</h5>
          </v-card-title>
          <v-card-text>
            <v-layout row wrap>
              <v-flex xs12 md4>
                <MontoMonetario v-model="presupuesto.montos.materiales" label="Materiales"></MontoMonetario>
              </v-flex>
              <v-flex xs12 md4>
                <MontoMonetario v-model="presupuesto.montos.mano_de_obra" label="Mano de obra" persistent-hint :hint="(diasPersona || '0') + ' dias/persona'"></MontoMonetario>
              </v-flex>
              <v-flex xs12 md4>
                <MontoMonetario v-model="presupuesto.montos.excedentes" label="Excedentes"></MontoMonetario>
              </v-flex>
              <v-flex xs12 md6>
                <v-radio-group v-model="esEnRegiones">
                  <v-radio label="Faena en regiones" :value="true"></v-radio>
                  <v-radio label="Obra local" :value="false"></v-radio>
                </v-radio-group>
                <!-- <v-switch v-model="esEnRegiones" :label="esEnRegiones ? 'Obra en regiones' : 'Obra local'"></v-switch> -->
              </v-flex>
              <v-flex xs12 md6>
                <v-radio-group v-model="afectoAIVA">
                  <v-radio label="Afecto a IVA" :value="true"></v-radio>
                  <v-radio label="Exento de IVA" :value="false"></v-radio>
                </v-radio-group>
                <!-- <v-switch v-model="afectoAIVA" :label="afectoAIVA ? 'Afecto a IVA' : 'Exento a IVA'"></v-switch> -->
              </v-flex>
            </v-layout>
          </v-card-text>
        </v-card>
      </v-flex>
      <v-flex xs12 v-show="esEnRegiones">
        <v-card>
          <v-card-title>
            <h5>Conceptos por región</h5>
          </v-card-title>
          <v-card-text>
            <v-layout row wrap>
              <v-flex xs12 md4>
                <MontoMonetario v-model="presupuesto.montos.hospedaje" label="Hospedaje"></MontoMonetario>
              </v-flex>
              <v-flex xs12 md4>
                <MontoMonetario v-model="presupuesto.montos.viatico" label="Viatico"></MontoMonetario>
              </v-flex>
              <v-flex xs12 md4>
                <MontoMonetario v-model="presupuesto.montos.traslado" label="Traslado"></MontoMonetario>
              </v-flex>
            </v-layout>
          </v-card-text>
        </v-card>
      </v-flex>
      <v-flex xs12>
        <v-card>
          <v-card-title>
            <h5>Otros gastos</h5>
          </v-card-title>
          <v-card-text>
            <v-layout row wrap>
              <v-flex xs12>
                <v-btn flat small :class="estiloBotonPrimario" @click="agregarNuevoConceptoOtrosGastos">Agregar nuevo concepto</v-btn>
              </v-flex>
              <!-- <v-flex xs12 v-for="(gasto, index) in montos.otros_gastos" :key="index">
                <ClaveValor v-model="montos.otros_gastos[index]" labelClave="Concepto" labelValor="Monto presupuestado"></ClaveValor>
              </v-flex> -->
            </v-layout>
          </v-card-text>
        </v-card>
      </v-flex>
      <v-flex xs12>
        <v-card>
          <v-card-title>
            <h5>Totales</h5>
          </v-card-title>
          <v-card-text>
            <v-layout row wrap>
              <v-flex xs12 v-show="afectoAIVA">
                <MontoMonetario v-model="montoNeto" label="Neto"></MontoMonetario>
                <MontoMonetario v-model="montoIva" label="IVA"></MontoMonetario>
              </v-flex>
              <v-flex xs12>
                <MontoMonetario v-model="montoTotal" label="Total" box></MontoMonetario>
              </v-flex>
            </v-layout>
          </v-card-text>
        </v-card>
      </v-flex>
      <v-flex xs12>
        <v-card flat>
          <v-card-actions>
            <BotonEnvio :disabled="!valido" :refs="$refs" enlace="/api/presupuesto" :objeto="presupuesto" agregarEmpresa>Crear presupuesto</BotonEnvio>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-form>
</template>

<script>
import { mapGetters } from 'vuex'
import MontoMonetario from '@/components/elements/MontoMonetario'
import SelectorListas from '@/components/elements/SelectorListas'
import BotonEnvio from '@/components/elements/BotonEnvio'

export default {
  components: {
    MontoMonetario,
    SelectorListas,
    BotonEnvio,
  },
  data() {
    return {
      valido: false,
      afectoAIVA: false,
      esEnRegiones: false,
      presupuesto: {
        montos: {},
        otros_gastos: [],
      },
    }
  },
  created() {
    // this.presupuesto.valor_hora
    // this.presupuesto.valor_cip
  },
  computed: {
    ...mapGetters(['estiloBotonPrimario']),
    /*
    Debe ser un método y no un campo computado para evitar el caché de VueJS
    FIX: Si se elimina el primer campo de texto, devuelve NaN
    */
    montoNeto() {
      let montos = Object.values(this.presupuesto.montos)

      if (!montos.length) {
        return 0
      }

      let valor = Object.values(montos).reduce((suma, valor) => {
        return suma + parseInt(valor, 10) || 0
      }, 0)
      return valor
    },
    montoIva() {
      //TODO: Crear componente que saque el iva de BD y calcule recibiendo el monto afecto
      let iva = 0.19
      return iva * parseInt(this.montoNeto, 10) || 0
    },
    montoTotal() {
      return this.montoNeto + this.montoIva
    },
    horasPersona() {
      let precision = 2
      return (
        Math.floor(
          this.presupuesto.montos.mano_de_obra /
            this.presupuesto.valor_hora *
            (precision = Math.pow(10, precision || 0))
        ) / precision
      ) //TODO: Documentar uso de math floor y no round para evitar estimaciones optimistas
    },
    diasPersona() {
      let precision = 2
      return (
        Math.floor(
          this.horasPersona / 9 * (precision = Math.pow(10, precision || 0))
        ) / precision
      ) //TODO: Considerando jornadas de 9 horas. Esta información debe salir del backend o de este mismo formulario
    },
  },
  methods: {
    agregarNuevoConceptoOtrosGastos() {
      if ('otros_gastos' in this.presupuesto.montos)
        this.presupuesto.montos.otros_gastos.push({})
      else this.presupuesto.montos.otros_gastos = [{}]
    },
  },
}
</script>
