<template>
  <CartaPrincipal titulo="Presupuestos" :enlaces="enlaces"></CartaPrincipal>
</template>

<script>
  import CartaPrincipal from '@/components/elements/CartaPrincipal'

  export default {
    components: {
      CartaPrincipal
    },
    data() {
      return {
        enlaces: [{
          enlace: '/presupuestos/crear',
          icono: 'add',
          titulo: 'Nuevo Presupuesto'
        }, {
          enlace: '/presupuestos/lista',
          icono: 'apps',
          titulo: 'Listado de Presupuestos'
        }]
      }
    }
  }

</script>
