<template>
  <v-card>
    <v-card>
      <v-card-title>
        Resumen
      </v-card-title>
      <v-card-text>
        <v-text-field box label="Valor total" v-model="balance.valor_total"></v-text-field>
        <v-text-field box prepend-icon="minus" label="Gastos" v-model="balance.costo_real_gasto"></v-text-field>
        <v-text-field box prepend-icon="minus" label="Mano de obra" v-model="balance.costo_real_mano_obra"></v-text-field>
        <v-text-field box label="Excedente" v-model="balance.costo_real_excedente"></v-text-field>
      </v-card-text>
    </v-card>
    <v-card>
      <v-card-title>
        Detalle
      </v-card-title>
      <v-card-text>
        <v-text-field box label="Valor proyecto" v-model="balance.valor_proyecto"></v-text-field>
        <table>
          <thead>
            <tr>
              <th>Real</th>
              <th>Presupuesto</th>
              <th>Diferencia</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ formatoMonetario(balance.costo_real_materiales) }}</td>
              <td>{{ formatoMonetario(balance.costo_presupuestado_materiales) }}</td>
              <td>{{ formatoMonetario(balance.diferencia_materiales) }}</td>
              <th>Materiales</th>
            </tr>
            <tr>
              <td>{{ formatoMonetario(balance.costo_real_mano_obra) }}</td>
              <td>{{ formatoMonetario(balance.costo_presupuestado_mano_obra) }}</td>
              <td>{{ formatoMonetario(balance.diferencia_mano_obra) }}</td>
              <th>Mano de obra</th>
            </tr>
            <tr>
              <td>{{ formatoMonetario(balance.costo_real_cip) }}</td>
              <td>{{ formatoMonetario(balance.costo_presupuestado_cip) }}</td>
              <td>{{ formatoMonetario(balance.diferencia_cip) }}</td>
              <th>
                <abbr title="Costos Indirectos de Producción">CIP</abbr>
              </th>
            </tr>
            <tr>
              <td>{{ formatoMonetario(balance.costo_real_excedente) }}</td>
              <td>{{ formatoMonetario(balance.costo_presupuestado_excedente) }}</td>
              <td>{{ formatoMonetario(balance.diferencia_excedente) }}</td>
              <th>Excedente</th>
            </tr>
          </tbody>
        </table>

      </v-card-text>
    </v-card>
  </v-card>
</template>

<script>
import accounting from 'accounting'

export default {
  methods: {
    formatoMonetario(monto) {
      return accounting.formatMoney(monto, 'CLP $', 0, '.')
    },
  },
}
</script>