<template>
    <CartaPrincipal titulo="Actas" :enlaces="enlaces"></CartaPrincipal>
</template>

<script>
import CartaPrincipal from '@/components/elements/CartaPrincipal'

export default {
  components: {
    CartaPrincipal,
  },
  data() {
    return {
      enlaces: [
        {
          enlace: '/actas/crear',
          icono: 'add',
          titulo: 'Nueva acta',
        },
        {
          enlace: '/actas/lista',
          icono: 'apps',
          titulo: 'Listado de actas',
        },
      ],
    }
  },
}
</script>
