<template>
  <v-layout row wrap>
    <v-flex md4>
      <v-text-field v-model="compromiso.titulo" @input="actualizar()" label="Título"></v-text-field>
    </v-flex>
    <v-flex md4>
      <SelectorListas v-model="compromiso.responsable_id" enlace="/api/persona" label="Responsable" @input="actualizar()"></SelectorListas>
    </v-flex>
    <v-flex md4>
      <Fecha v-model="compromiso.fecha" label="Fecha" @input="actualizar()"></Fecha>
    </v-flex>
    <v-flex md12>
      <v-text-field v-model="compromiso.contenido" @input="actualizar()" label="Contenido" multi-line></v-text-field>
    </v-flex>    
  </v-layout>
</template>

<script>
  import {
    mapGetters
  } from 'vuex'
  import SelectorListas from '@/components/elements/SelectorListas'
  import Fecha from '@/components/elements/Fecha'

  export default {
    components: {
      SelectorListas,
      Fecha,
    },
    data() {
      return {
        compromiso: {},
      }
    },
    methods: {
      actualizar() {
        this.$emit('input', this.compromiso)
      },
    },
  }

</script>
