<template>
<Lista enlace="/api/acta" :encabezados="encabezados" :pagination="{sortBy: 'fecha', descending: true }">
  <template slot="acciones" slot-scope="item">
      <router-link :to="{ name: 'ver-acta', params: { id: item.item.id } }">
        <v-btn small color="primary" dark>
          <v-icon left dark>fa-eye</v-icon>
          Ver acta
        </v-btn>
      </router-link>
  </template>
</Lista>
</template>

<script>
import Lista from '@/components/elements/Lista'

export default {
  components: {
    Lista,
  },
  data() {
    return {
      encabezados: [{
          text: 'Número',
          value: 'numero',
        },
        {
          text: 'Modera',
          value: 'moderador',
          sql_column: 'moderador_id',
          callback: moderador => moderador.nombre_presentacion,
        },
        {
          text: 'Toma acta',
          value: 'actuario',
          sql_column: 'actuario_id',
          callback: actuario => actuario.nombre_presentacion,
        },
        {
          text: 'Fecha',
          value: 'fecha',
        },
      ],
    }
  },
}
</script>
