<template>
  <CartaPrincipal :enlaces="enlaces"
                  titulo="Cheques" />
</template>

<script>
import CartaPrincipal from '@/components/elements/CartaPrincipal'

export default {
  components: {
    CartaPrincipal,
  },
  data() {
    return {
      enlaces: [
        {
          enlace: '/cheques/crear',
          icono: 'add',
          titulo: 'Nuevo cheque',
        },
        {
          enlace: '/cheques/lista',
          icono: 'apps',
          titulo: 'Listado de cheques',
        },
      ],
    }
  },
}
</script>
