<template>
  <v-layout row
            wrap>
    <v-flex xs12>
      <v-card flat>
        <v-card-title>
          <h5>Crear Cheque</h5>
        </v-card-title>
        <v-card-text>
          <v-layout row
                    wrap>
            <v-flex xs6>
              <v-text-field v-model="cheque.numero_cheque"
                            label="Número cheque"
                            required />
            </v-flex>
            <v-flex xs6>
              <SelectorListas v-model="cheque.responsable"
                              enlace="/api/persona"
                              label="Responsable"
                              required />
            </v-flex>
            <v-flex xs6>
              <v-text-field v-model="cheque.monto"
                            type="number"
                            label="Monto" />
            </v-flex>
            <v-flex xs4>
              <Fecha v-model="cheque.fecha_cheque"
                     label="Fecha cheque" />
            </v-flex>
            <v-flex xs4>
              <Fecha v-model="cheque.fecha_endoso"
                     label="Fecha endoso" />
            </v-flex>
            <v-flex xs4>
              <Fecha v-model="cheque.fecha_cobro"
                     label="Fecha cobro" />
            </v-flex>
            <v-flex xs12>
              <v-text-field v-model="cheque.comentarios"
                            label="Comentario"
                            multi-line />
            </v-flex>
          </v-layout>
        </v-card-text>
        <v-card-actions>
          <BotonEnvio :disabled="!valido"
                      :refs="$refs"
                      :objeto="cheque"
                      enlace="/api/cheque">Crear cheque</BotonEnvio>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import BotonEnvio from '@/components/elements/BotonEnvio'
import SelectorListas from '@/components/elements/SelectorListas'
import Fecha from '@/components/elements/Fecha'

export default {
  components: {
    BotonEnvio,
    SelectorListas,
    Fecha,
  },
  props: {
    id: {
      type: Number,
      default: null,
    },
  },
  data() {
    return {
      cheque: {},
    }
  },
  created() {
    if (this.id) {
      this.axios
        .get('/api/cheque/' + this.id)
        .then(response => {
          this.cheque = Object.assign({}, this.cheque, response.data)
        })
        .catch(error => {
          this.$store.dispatch('agregarError', { titulo: 'CrearCheque', error })
        })
    }
  },
}
</script>
