<template>
  <CartaPrincipal titulo="Usuarios" :enlaces="enlaces"></CartaPrincipal>
</template>

<script>
  import CartaPrincipal from '@/components/elements/CartaPrincipal'

  export default {
    components: {
      CartaPrincipal
    },
    data() {
      return {
        enlaces: [{
          enlace: "/usuarios/crear",
          icono: "add",
          titulo: "Crear usuario"
        }, {
          enlace: "/usuarios/lista",
          icono: "apps",
          titulo: "Listado de usuarios"
        }]
      }
    }
  }

</script>
