<template>
  <v-layout row wrap>
    <v-flex xs12>
      <v-card flat>
        <v-card-title>
          <h5>Crear Fondo Por Rendir</h5>
        </v-card-title>
        <v-card-text>
          <v-layout row wrap>
            <v-flex xs6>
              <v-text-field label="Número" v-model="fpr.numero" required></v-text-field>
            </v-flex>
            <v-flex xs6>
              <SelectorListas v-model="fpr.responsable" enlace="/api/persona" label="Responsable" required></SelectorListas>
            </v-flex>
            <v-flex xs6>
              <MontoMonetario v-model="fpr.monto" label="Monto" required></MontoMonetario>
            </v-flex>
            <v-flex xs4>
              <Fecha label="Fecha entrega" v-model="fpr.fecha_entrega"></Fecha>
            </v-flex>
            <v-flex xs4>
              <Fecha label="Fecha saldo" v-model="fpr.fecha_saldo"></Fecha>
            </v-flex>
            <v-flex xs4>
              <Fecha label="Fecha cierre" v-model="fpr.fecha_cierre"></Fecha>
            </v-flex>
            <v-flex xs4>
              <Fecha label="Fecha devolución" v-model="fpr.fecha_devolucion"></Fecha>
            </v-flex>
            <v-flex xs12>
              <MontoMonetario v-model="fpr.diferencia" label="Diferencia"></MontoMonetario>
            </v-flex>
            <v-flex xs12>
              <v-text-field v-model="fpr.comentarios" label="Comentario" multi-line></v-text-field>
            </v-flex>
          </v-layout>
        </v-card-text>
        <v-card-actions>
          <BotonEnvio :disabled="!valido" :refs="$refs" enlace="/api/fondo_por_rendir" :objeto="fpr">Crear fondo por rendir</BotonEnvio>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
  import BotonEnvio from '@/components/elements/BotonEnvio'
  import MontoMonetario from '@/components/elements/MontoMonetario'
  import Fecha from '@/components/elements/Fecha'

  export default {
    components: {
      BotonEnvio,
      MontoMonetario,
      Fecha,
    },
    props: ['id'],
    data() {
      return {
        valido: false,
        fpr: {},
        editando: false,
      }
    },
    created() {
      if (this.id) {
        this.editando = true
        this.axios.get('/api/fondo_por_rendir/' + this.id)
          .then(response => {
            this.fpr = Object.assign({}, this.fpr, response.data)
          })
          .catch(error => {
            this.$store.dispatch('agregarError', {titulo: 'CrearFondoPorRendir', error})
          })
      }
    },
  }

</script>
