<template>
  <CartaPrincipal titulo="Fondos por rendir" :enlaces="enlaces"></CartaPrincipal>
</template>

<script>
  import CartaPrincipal from '@/components/elements/CartaPrincipal'

  export default {
    components: {
      CartaPrincipal
    },
    data() {
      return {
        enlaces: [{
          enlace: '/fondos-por-rendir/crear',
          icono: 'add',
          titulo: 'Nuevo fondo'
        }, {
          enlace: '/fondos-por-rendir/lista',
          icono: 'apps',
          titulo: 'Listado de fondos'
        }]
      }
    }
  }

</script>
