<template>
  <v-layout row
            wrap>
    <v-flex xs12>
      <v-form ref="form"
              v-model="valido"
              lazy-validation>
        <v-card flat>
          <v-card-text>
            <v-layout row
                      wrap>
              <v-flex xs12
                      sm6>
                <SelectorListas v-model="gasto.centro_costo_id"
                                :campos="['id', 'nombre_presentacion', 'codigo']"
                                enlace="/api/centro_costo"
                                label="Centro de costos"
                                required />
              </v-flex>
              <v-flex xs12
                      sm6>
                <SelectorRutNombre v-model="gasto.proveedor_id"
                                   enlace="/api/proveedor"
                                   label-rut="RUT Proveedor"
                                   label-nombre="Razón social proveedor"
                                   item-value="id"
                                   required />
              </v-flex>
              <v-flex xs12
                      sm3>
                <SelectorListas v-model="gasto.tipo_documento"
                                :campos="['id', 'nombre_presentacion', 'tributario']"
                                enlace="/api/tipo_documento"
                                label="Tipo documento"
                                return-object
                                required />
              </v-flex>
              <v-flex xs6
                      sm3>
                <SelectorListas v-model="gasto.periodo"
                                enlace="/api/periodo"
                                label="Período" />
              </v-flex>
              <v-flex xs6
                      sm3>
                <Fecha v-model="gasto.fecha"
                       label="Fecha emisión" />
              </v-flex>
              <v-flex xs12
                      sm3>
                <v-text-field v-model="gasto.folio"
                              label="Número de documento (folio)" />
              </v-flex>
              <!--
              Periodo IVA debe deducirse de la fecha de emisión del documento
              <v-flex xs6>
                <SelectorListas v-model="gasto.periodos_iva" enlace="/api/periodo_iva" label="Período IVA" :disabled="!esDocumentoTributario" />
              </v-flex>
              -->
              <v-flex xs4>
                <MontoMonetario v-model="gasto.monto_exento"
                                label="Monto exento" />
              </v-flex>
              <v-flex xs4>
                <MontoMonetario :disabled="!esDocumentoTributario"
                                v-model="gasto.monto_afecto"
                                label="Monto afecto" />
              </v-flex>
              <v-flex xs4>
                <MontoMonetario :disabled="!esDocumentoTributario"
                                v-model="gasto.monto_otros_impuestos"
                                label="Otros impuestos" />
              </v-flex>
              <v-flex xs4>
                <MontoMonetario v-model="montoNeto"
                                label="Neto"
                                readonly />
              </v-flex>
              <v-flex xs4>
                <MontoMonetario v-model="montoIva"
                                label="IVA"
                                readonly />
              </v-flex>
              <v-flex xs4>
                <MontoMonetario v-model="montoTotal"
                                label="Total"
                                readonly />
              </v-flex>
              <v-flex xs4>
                <SelectorListas v-model="gasto.tipo_gasto_id"
                                enlace="/api/tipo_gasto"
                                label="Tipo de gasto" />
              </v-flex>
              <v-flex xs8>
                <SelectorCuentas v-model="gasto.cuenta"
                                 enlace="/api/cuenta"
                                 label="Registro contable" />
              </v-flex>
              <v-flex xs12>
                <v-card>
                  <v-card-title>
                    <h5>Pagos</h5>
                  </v-card-title>
                  <v-card-text>
                    <v-layout row
                              wrap>
                      <v-flex xs6>
                        <MontoMonetario v-model="totalSinAsignar"
                                        :rules="[v => v === 0]"
                                        label="Total sin asignar"
                                        disabled />
                      </v-flex>
                      <v-flex xs6>
                        <MontoMonetario v-model="totalAsignado"
                                        label="Total asignado"
                                        disabled />
                      </v-flex>
                    </v-layout>
                    <Pago v-for="(pago, key) in gasto.pagos"
                          v-model="gasto.pagos[key]"
                          :key="key" />
                  </v-card-text>
                  <v-card-actions>
                    <v-btn flat
                           @click="nuevoPago">Agregar otro pago</v-btn>
                  </v-card-actions>
                </v-card>
              </v-flex>
              <v-flex xs12>
                <v-textarea v-model="gasto.comentarios"
                            label="Comentario" />
              </v-flex>
            </v-layout>
          </v-card-text>
          <v-card-actions>
            <BotonEnvio :objeto="gasto"
                        :disabled="!valido"
                        :refs="$refs"
                        enlace="/api/gasto"
                        agregar-empresa>Crear gasto</BotonEnvio>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-flex>
  </v-layout>
</template>

<script>
import { mapGetters } from 'vuex'
import Fecha from '@/components/elements/Fecha'
import BotonEnvio from '@/components/elements/BotonEnvio'
import SelectorListas from '@/components/elements/SelectorListas'
import SelectorRutNombre from '@/components/elements/SelectorRutNombre'
import SelectorCuentas from '@/components/elements/SelectorCuentas'
import MontoMonetario from '@/components/elements/MontoMonetario'
import Pago from './Pago'

export default {
  components: {
    Fecha,
    BotonEnvio,
    SelectorListas,
    SelectorRutNombre,
    SelectorCuentas,
    MontoMonetario,
    Pago,
  },
  props: {
    id: {
      type: Number,
      default: null,
    },
  },
  data() {
    return {
      valido: false,
      editando: false,
      gasto: {
        centro_costo_id: null,
        proveedor_id: null,
        tipo_documento: null,
        periodo: null,
        fecha: null,
        folio: null,
        monto_exento: null,
        monto_afecto: null,
        monto_otros_impuestos: null,
        comentarios: null,
        pagos: [
          {
            monto: null,
            cheque: {},
            fpr: {},
          },
        ],
      },
    }
  },
  computed: {
    montoNeto() {
      let monto_exento = parseInt(this.gasto.monto_exento, 10) || 0,
        monto_afecto = parseInt(this.gasto.monto_afecto, 10) || 0,
        monto_otros_impuestos =
          parseInt(this.gasto.monto_otros_impuestos, 10) || 0
      return this.esDocumentoTributario
        ? monto_exento + monto_afecto + monto_otros_impuestos
        : monto_exento
    },
    montoIva() {
      //TODO: Crear componente que saque el iva de BD y calcule recibiendo el monto afecto
      let iva = 0.19
      return iva * parseInt(this.gasto.monto_afecto, 10) || 0
    },
    montoTotal() {
      return this.montoNeto + this.montoIva
    },
    esDocumentoTributario() {
      return this.gasto.tipo_documento
        ? !!this.gasto.tipo_documento.tributario
        : false
    },
    totalAsignado() {
      let monto = Object.values(this.gasto.pagos).reduce((suma, pago) => {
        return suma + parseInt(pago.monto, 10) || 0
      }, 0)
      return monto
    },
    totalSinAsignar() {
      return this.montoNeto - this.totalAsignado
    },
  },

  created() {
    if (this.id) {
      this.editando = true
      this.axios
        .get('/api/gasto/' + this.id)
        .then(response => {
          this.gasto = Object.assign({}, this.gasto, response.data)
        })
        .catch(error => {
          this.$store.dispatch('agregarError', { titulo: 'CrearGasto', error })
        })
    }
  },

  methods: {
    nuevoPago() {
      this.gasto.pagos.push({})
    },
  },
}
</script>
