<template>
  <Lista :encabezados="encabezados"
         enlace="/api/gasto">
    <template slot="acciones"
              slot-scope="item">
      <router-link :to="{ name: 'editar-gasto', params: { id: item.item.id } }">
        <v-btn small
               color="primary"
               dark>
          <v-icon left
                  dark>edit</v-icon>
          Editar gasto
        </v-btn>
      </router-link>
      <BotonImprimir :id="item.item.id"
                     color="primary" />
    </template>
  </Lista>
</template>

<script>
import { mapGetters } from 'vuex'
import accounting from 'accounting'
import Lista from '@/components/elements/Lista'
import BotonImprimir from '@/components/elements/BotonImprimir'

export default {
  components: {
    Lista,
    BotonImprimir,
  },
  data() {
    return {
      encabezados: [
        {
          text: 'Folio',
          value: 'folio',
        },
        {
          text: 'Concepto',
          value: 'nombre',
        },
        {
          text: 'Proveedor',
          value: 'proveedor',
        },
        {
          text: 'Fecha documento',
          value: 'fecha_documento',
        },
        {
          text: 'Tipo documento',
          value: 'tipo_documento',
        },
        {
          text: 'Neto',
          value: 'monto_neto',
          callback: this.formatoMonetario,
        },
      ],
    }
  },
  methods: {
    formatoMonetario(monto) {
      return accounting.formatMoney(monto, '$', 0, '.')
    },
  },
}
</script>
