<template>
  <v-layout row
            wrap>
    <v-flex xs6>
      <v-select v-model="pago.medio_de_pago"
                :items="['Cheque', 'Fondo por rendir', 'Banco', 'Nota de crédito', 'Documento pendiente']"
                label="Medio de pago"
                @input="actualizar" />
    </v-flex>
    <v-flex v-show="pago.medio_de_pago === 'Cheque'"
            xs6>
      <MontoMonetario v-model="pago.monto"
                      label="Monto" />
      <SelectorListas v-model="pago.cheque"
                      :campos="['numero']"
                      enlace="/api/cheque"
                      label="Número de cheque"
                      @input="actualizar" />
    </v-flex>
    <v-flex v-show="pago.medio_de_pago === 'Fondo por rendir'"
            xs6>
      <MontoMonetario v-model="pago.monto"
                      label="Monto" />
      <SelectorListas v-model="pago.fpr"
                      :campos="['numero']"
                      enlace="/api/fondo_por_rendir"
                      label="Número de FPR"
                      @input="actualizar" />
    </v-flex>
    <v-flex v-show="pago.medio_de_pago === 'Banco'"
            xs6>
      <MontoMonetario v-model="pago.monto"
                      label="Monto" />
      <SelectorListas v-model="pago.cuenta_bancaria"
                      enlace="/api/cuenta_bancaria"
                      label="Cuenta bancaria"
                      @input="actualizar" />
    </v-flex>
    <v-flex v-show="pago.medio_de_pago === 'Nota de crédito'"
            xs6>
      <MontoMonetario v-model="pago.monto"
                      label="Monto" />
      <SelectorListas v-model="pago.nota_de_credito"
                      enlace="/api/nota_de_credito"
                      label="Nota de crédito"
                      @input="actualizar" />
    </v-flex>
    <v-flex v-show="pago.medio_de_pago === 'Documento pendiente'"
            xs6>
      <MontoMonetario v-model="pago.monto"
                      label="Monto" />
    </v-flex>
  </v-layout>
</template>

<script>
import SelectorListas from '@/components/elements/SelectorListas'
import MontoMonetario from '@/components/elements/MontoMonetario'

export default {
  components: {
    SelectorListas,
    MontoMonetario,
  },
  data() {
    return {
      pago: {
        medio_de_pago: null,
        monto: null,
        cheque: {},
        fpr: {},
        cuenta_bancaria: {},
        nota_de_credito: {},
      },
    }
  },
  methods: {
    actualizar() {
      this.$emit('input', this.pago)
    },
  },
}
</script>
