<template>
  <v-layout row wrap>
    <v-flex xs12>
      <v-form v-model="valido" ref="form" lazy-validation>
        <v-card flat>
          <v-card-title>
            <h5>Crear Talento</h5>
          </v-card-title>
          <v-card-text>
            <v-layout row wrap>
              <v-flex xs12>
                <v-text-field v-model="talento.nombre" name="nombre" label="Nombre" required></v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-text-field v-model="talento.comentarios" label="Comentario" multi-line></v-text-field>
              </v-flex>
            </v-layout>
          </v-card-text>
          <v-card-actions>
            <BotonEnvio :disabled="!valido" :refs="$refs" enlace="/api/talento" :objeto="talento">Crear talento</BotonEnvio>
          </v-card-actions>
        </v-card>
      </v-form>
    </v-flex>
  </v-layout>
</template>

<script>
  import BotonEnvio from '@/components/elements/BotonEnvio'

  export default {
    components: {
      BotonEnvio,
    },
    props: ['id'],
    data() {
      return {
        valido: false,
        editando: false,
        talento: {}
      }
    },
    created() {
      if (this.id) {
        this.editando = true
        this.axios.get('/api/talento/' + this.id)
          .then(response => {
            this.talento = Object.assign({}, this.talento, response.data)
          })
          .catch(error => {
            this.$store.dispatch('agregarError', {titulo: 'CrearTalento', error})
          })
      }
    },
  }

</script>
