<template>
  <v-form v-model="valido" ref="form" lazy-validation>
    <v-layout row wrap>
      <v-flex xs12>
        <v-card flat>
          <v-card-title>
            <h5>Crear Oportunidad</h5>
          </v-card-title>
          <v-card-text>
            <v-layout row wrap>
              <v-flex xs12 md6>
                <v-subheader>Plazos y fechas</v-subheader>
                <Fecha v-model="oportunidad.fecha_vencimiento" label="Fecha de vencimiento"></Fecha>
              </v-flex>
              <v-flex xs12 md6>
                <v-subheader>Variables de éxito</v-subheader>
                <v-slider label="Probabilidad" min="0" max="100" thumb-label v-model="oportunidad.probabilidad"></v-slider>
                Prioridad
                <rate v-model="oportunidad.prioridad" :length="5" :value="3" :ratedesc="['Ninguna', 'Normal', 'Deseable', 'Interesante', 'Importante']"></rate>
                <v-text-field type="number" v-model="oportunidad.monto" class="pr-2" label="Monto" prefix="$" value="0" min="0" step="100000"
                  required></v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-text-field v-model="oportunidad.comentarios" label="Comentario" multi-line></v-text-field>
              </v-flex>
            </v-layout>
          </v-card-text>
          <v-card-actions>
            <BotonEnvio :disabled="!valido" :refs="$refs" enlace="/api/oportunidad" :objeto="oportunidad">Crear oportunidad</BotonEnvio>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-form>
</template>

<script>
  import Fecha from '@/components/elements/Fecha'
  import BotonEnvio from '@/components/elements/BotonEnvio'

  export default {
    components: {
      BotonEnvio,
      Fecha
    },
    data() {
      return {
        valido: false,
        oportunidad: {
          fecha_vencimiento: null
        }
      }
    }
  }

</script>