<template>
  <v-layout v-if="mostrar_formulario"
            row
            wrap>
    <div id="bg"
         class="cyan" />
    <v-flex xs12
            md6>
      <v-dialog id="login"
                :value="mostrar_formulario"
                :width="dialogWidth"
                persistent>
        <v-card>
          <v-card-text class="pt-4">
            <v-form ref="form"
                    v-model="formulario_completo"
                    lazy-validation>
              <v-layout row
                        align-baseline
                        justify-space-between>
                <v-flex hidden-sm-and-down
                        md1>
                  <v-icon>fas fa-user</v-icon>
                </v-flex>
                <v-flex xs12
                        md10>
                  <v-text-field v-model="usuario"
                                :rules="reglasUsuario"
                                label="Nombre de usuario"
                                color="pink"
                                type="text"
                                required />
                </v-flex>
              </v-layout>
              <v-layout row
                        align-baseline
                        justify-space-between>
                <v-flex hidden-sm-and-down
                        md1>
                  <v-icon>fas fa-lock</v-icon>
                </v-flex>
                <v-flex xs12
                        md10>
                  <v-text-field v-model="contrasena"
                                :append-icon="ver_contrasena ? 'fas fa-eye' : 'fas fa-eye-slash'"
                                :type="ver_contrasena ? 'password' : 'text'"
                                :rules="reglasContrasena"
                                label="Contraseña"
                                color="pink"
                                required
                                @click:append="() => (ver_contrasena = !ver_contrasena)" />
                </v-flex>
              </v-layout>
              <v-layout row
                        wrap>
                <v-slide-x-transition>
                  <v-flex v-if="mensaje"
                          xs12>
                    <v-alert color="info"
                             value="true">
                      {{ mensaje }}
                    </v-alert>
                  </v-flex>
                </v-slide-x-transition>
                <v-flex xs12>
                  <v-btn :disabled="!formulario_completo || enviando_datos"
                         :loading="enviando_datos"
                         type="submit"
                         class="pink lighten-1 white--text"
                         block
                         @click.prevent="ingresar">Ingresar</v-btn>
                </v-flex>
              </v-layout>
            </v-form>
          </v-card-text>
        </v-card>
      </v-dialog>
    </v-flex>
  </v-layout>
</template>

<script>
//TODO: Error 429: Too many attemps se muestra como error desconocido.
import { mapGetters, mapState } from 'vuex'

export default {
  data() {
    return {
      formulario_completo: true,
      enviando_datos: false,
      mostrar_formulario: true,
      ver_contrasena: true,
      mensaje: '',
      usuario: '',
      contrasena: '',
      reglasUsuario: [v => !!v || 'Ingrese el nombre de usuario'],
      reglasContrasena: [v => !!v || 'Ingrese su contraseña'],
    }
  },
  computed: {
    ...mapGetters(['estaAutenticado']),
    ...mapState({
      personaUsuario: state => state.perfil.personaUsuario,
    }),
    dialogWidth() {
      switch (this.$vuetify.breakpoint.name) {
        case 'xs':
          return '75%'
        case 'sm':
          return '50%'
        case 'md':
          return '30%'
        default:
          return '25%'
      }
    },
  },
  methods: {
    ingresar() {
      if (this.$refs.form.validate()) {
        this.enviando_datos = true
        let usuario = this.usuario,
          contrasena = this.contrasena
        this.$store
          .dispatch('autenticar', { usuario, contrasena })
          .then(auth_data => {
            return this.$store.dispatch('cambiarPerfil')
          })
          .then(perfil => {
            this.$router.replace(
              {
                name: 'escritorio',
              },
              data => {
                this.enviando_datos = false
                this.mostrar_formulario = false
              },
            ) //TODO: Guardar ruta requerida original en el store, y cuando se autentique, redirigir a esa ruta
          })
          .catch(error => {
            this.enviando_datos = false
            this.$store.dispatch('agregarError', {
              titulo: 'Ingreso',
              error,
            })
            console.error(error)
            if (error.mensaje) {
              this.mensaje = error.mensaje
            } else if (error.response) {
              this.mensaje = error.response.data.message
            } else {
              this.mensaje = error.message
            }
          })
      }
    },
  },
}
</script>

<style>
#bg {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9990;
}

.v-dialog__content--active {
  z-index: 9997 !important;
}
</style>
