<template>
  <v-navigation-drawer app persistent absolute :value="verMenuLateral">
    <v-toolbar flat class="transparent">
      <v-list>
        <v-list-tile avatar>
          <v-list-tile-avatar>
            <img :src="personaUsuario.foto_perfil" />
          </v-list-tile-avatar>
          <v-list-tile-content>
            <v-list-tile-title>{{ personaUsuario.nombre_presentacion }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-toolbar>
    <v-card v-for="(item, titulo) in menuUsuario" :key="titulo">
      <v-subheader>
        {{ titulo }}
      </v-subheader>
      <v-list dense class="pt-0">
        <v-list-tile v-for="enlace in item.items" :to="'/' + enlace.nombre" :key="'enlace-' + enlace.nombre" ripple>
          <v-list-tile-action>
            <v-icon>{{ enlace.icono }}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>{{ enlace.texto }}</v-list-tile-title>
            <v-list-tile-sub-title v-if="enlace.subtitulo">{{ enlace.subtitulo }}</v-list-tile-sub-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
      <v-divider class="my-4"></v-divider>
    </v-card>
  </v-navigation-drawer>
</template>

<script>
import { mapGetters, mapState } from 'vuex'

export default {
  computed: {
    ...mapGetters([
      'verMenuLateral',
    ]),
    ...mapState({
      personaUsuario: state => state.perfil.personaUsuario,
      menuUsuario: state => state.perfil.menuUsuario,
    }),
  },
  created() {
    if (this.$vuetify.breakpoint.name === 'xs')
      this.$store.dispatch('cambiarVerMenuLateral', false)
    else this.$store.dispatch('cambiarVerMenuLateral', true)
  },
}
</script>
