<template>
  <Lista enlace="/api/proveedor" :encabezados="encabezados">
    <template slot="acciones" slot-scope="item">
      <v-card flat>
        <router-link :to="{ name: 'editar-proveedor', params: { id: item.item.id } }">
          <v-btn small color="primary" dark>
            <v-icon left dark>edit</v-icon>
            Editar proveedor
          </v-btn>
        </router-link>
        <router-link :to="{ name: 'lista-cotizaciones-proveedor', params: { proveedor: item.item.id } }">
          <v-btn small color="primary" dark>
            <v-icon left dark>fa-eye</v-icon>
            Ver cotizaciones
          </v-btn>
        </router-link>
        <BotonEnviarCorreo color="primary" dark></BotonEnviarCorreo>
      </v-card>
    </template>
  </Lista>
</template>

<script>
  import {
    mapGetters
  } from 'vuex'
  import Lista from '@/components/elements/Lista'
  import BotonEnviarCorreo from '@/components/elements/BotonEnviarCorreo'

  export default {
    components: {
      Lista,
      BotonEnviarCorreo,
    },
    data() {
      return {
        encabezados: [{
            text: 'RUT',
            value: 'rut'
          },
          {
            text: 'Nombre',
            value: 'nombre_presentacion'
          },
          {
            text: 'Giro',
            value: 'giro'
          },
          {
            text: 'Categoría',
            value: 'categoria'
          }
        ],
      }
    },
  }

</script>
