<template>
  <v-form v-model="valido" ref="form" lazy-validation class="crear-asistencia">
    <v-card :flat="sinTitulo">
      <v-card-title v-show="!sinTitulo">
        <h5>Ingresar asistencia</h5>
      </v-card-title>
      <v-card-text v-for="(asistencia, index) in asistencias" :key="index">
        <v-layout row wrap>
          <v-flex xs6 md2>
            <Tiempo v-model="asistencia.entrada" label="Entrada" color="primary" :rules="[v => !!v || 'Ingresa tu horario de llegada']" required></Tiempo>
          </v-flex>
          <v-flex xs6 md2>
            <Tiempo v-model="asistencia.salida" label="Salida" color="primary"></Tiempo>
          </v-flex>
          <v-flex xs12 md3>
            <Fecha v-model="asistencia.fecha" label="Fecha" :rules="[v => !!v || 'Ingresa la fecha correspondiente']" required></Fecha>
          </v-flex>
          <v-flex xs12 md3>
            <SelectorListas v-model="asistencia.centro_costo_id" enlace="/api/centro_costo" label="Faena" :rules="[v => (!!v || v === 0) || 'Ingresa el centro de costos (faena) correspondiente']" :campos="['id', 'nombre_presentacion', 'codigo']" required></SelectorListas>
          </v-flex>
          <v-flex xs12 md2>
            <SelectorListas v-model="asistencia.tipo_hora_id" enlace="/api/tipo_hora" label="Tipo de hora" :rules="[v => (!!v || v === 0) || 'Ingresa el tipo de hora correspondiente']" required></SelectorListas>
          </v-flex>
        </v-layout>
      </v-card-text>
      <v-card-actions>
        <v-layout row wrap>
          <v-flex xs6 sm2>
            <v-tooltip top>
              <v-btn flat color="primary" @click="porDefecto()" slot="activator">8 a 18</v-btn>
              <span>Rellena la asistencia con los horarios más comunes. Si no hay hora de llegada especificada, asigna 08:00AM</span>
            </v-tooltip>
          </v-flex>
          <!-- TODO: Validar que hora de salida no sea anterior a la de entrada.
        Validar que esté ingresado ingreso y salida antes de insertar nueva linea -->
          <v-flex hidden-xs-only sm3>
            <v-btn flat color="primary" @click="nuevaAsistencia()">Insertar línea</v-btn>
          </v-flex>
          <v-flex hidden-md-and-up sm3>
            <v-btn :disabled="asistencias.length === 1" color="primary" flat @click="eliminarAsistencia()">
              Eliminar línea
            </v-btn>
          </v-flex>
          <v-spacer></v-spacer>
          <v-flex xs6 sm3>
            <v-tooltip top>
              <BotonEnvio :disabled="!valido" :refs="$refs" enlace="/api/asistencia" to="/asistencias/lista" :objeto="asistenciasEnvio" slot="activator" agregarEmpresa>Enviar</BotonEnvio>
              <span>Envía la asistencia para almacenarla en la base de datos.</span>
            </v-tooltip>
          </v-flex>
        </v-layout>
      </v-card-actions>
    </v-card>
  </v-form>
</template>
<script>
import { mapState } from 'vuex'
import Fecha from '@/components/elements/Fecha'
import Tiempo from '@/components/elements/Tiempo'
import BotonEnvio from '@/components/elements/BotonEnvio'
import SelectorListas from '@/components/elements/SelectorListas'
import Asistencia from '@/modelos/Asistencia'

export default {
  components: {
    Fecha,
    Tiempo,
    BotonEnvio,
    SelectorListas,
  },
  props: {
    sinTitulo: {
      type: Boolean,
      default: true,
    },
    general: {
      type: Boolean,
      default: false,
    },
    faena: {
      type: Number,
    },
  },
  data() {
    return {
      valido: true,
      asistencias: [
        {
          entrada: { hora: null, minuto: null },
          salida: { hora: null, minuto: null },
          fecha: null,
          centro_costo_id: null,
          tipo_hora_id: null,
        },
      ],
    }
  },
  computed: {
    ...mapState({
      personaUsuario: state => state.perfil.personaUsuario,
    }),
    asistenciasEnvio() {
      let arregloAsistencias = []

      this.asistencias.forEach(asistencia => {
        arregloAsistencias.push({
          persona_id: this.personaUsuario.id,
          entrada: asistencia.entrada,
          salida: asistencia.salida,
          fecha: asistencia.fecha,
          centro_costo_id: asistencia.centro_costo_id,
          tipo_hora_id: asistencia.tipo_hora_id,
        })
      })

      return arregloAsistencias
    },
  },
  methods: {
    hoy() {
      let ahora = new Date(),
        hoy = ahora.toISOString(),
        resultado = hoy.substring(0, 10)

      return resultado
    },
    porDefecto() {
      this.asistencias.push({
        entrada: {
          hora: 8,
          minuto: 0,
        },
        salida: {
          hora: 13,
          minuto: 0,
        },
        fecha: this.hoy(),
      })
      this.asistencias.push({
        entrada: {
          hora: 14,
          minuto: 0,
        },
        salida: {
          hora: 18,
          minuto: 0,
        },
        fecha: this.hoy(),
      })
    },
    nuevaAsistencia() {
      this.asistencias.push({
        entrada: { hora: null, minuto: null },
        salida: { hora: null, minuto: null },
        fecha: null,
        centro_costo_id: null,
        tipo_hora_id: null,
      })
    },
    eliminarAsistencia(index) {
      this.asistencias.splice(index, 1)
    },
  },
}
</script>

<style scoped>
.menu {
  display: block !important;
}
</style>
