<template>
<!-- TODO:
* Validaciones
 * No permitir colocar horas posteriores a la actual si es el mismo día
 * Avisar de inmediato si se intenta fijar una hora anterior a la previa
 * Cambiar la fecha de asistencia automáticamente (no lo puede realizar backend por lógica, solo debería sugerir el error)
 * Ver utilidad real de clase Asistencia
-->
<v-stepper v-model="paso">
  <v-stepper-header>
    <v-stepper-step :complete="paso > 1" step="1">Entrada faena</v-stepper-step>
    <v-divider></v-divider>
    <v-stepper-step :complete="paso > 2" step="2">Salida colación</v-stepper-step>
    <v-divider></v-divider>
    <v-stepper-step :complete="paso > 3" step="3">Entrada colación</v-stepper-step>
    <v-divider></v-divider>
    <v-stepper-step :complete="paso > 4" step="4">Salida</v-stepper-step>
  </v-stepper-header>
  <v-layout row wrap>
    <v-flex xs12 md7>
      <v-stepper-items>
        <v-stepper-content step="1">
          <v-card flat class="mb-4">
            <v-btn block large color="primary" :disabled="!esValidoPrimerPaso" @click.native="segundoPaso()">Marcar entrada</v-btn>
            <RelojAsistencia v-model="entrada_manana" label="Ingresa hora de llegada"></RelojAsistencia>
            <Fecha v-model="fecha" label="Fecha" required></Fecha>
            <SelectorListas v-model="centro_costo" enlace="/api/centro_costo" label="Faena" :rules="[v => (!!v || v === 0) || 'Ingresa el centro de costos (faena) correspondiente']" :campos="['id', 'nombre_presentacion', 'codigo']" returnObject required></SelectorListas>
            <SelectorListas v-model="tipo_hora" enlace="/api/tipo_hora" label="Tipo de hora" :rules="[v => (!!v || v === 0) || 'Ingresa el tipo de hora correspondiente']" returnObject required></SelectorListas>
          </v-card>
        </v-stepper-content>
        <v-stepper-content step="2">
          <v-btn block large color="primary" @click.native="tercerPaso()">Salir a colación</v-btn>
          <v-card flat class="mb-4">
            <RelojAsistencia v-model="salida_manana" label="Salida a colación"></RelojAsistencia>
          </v-card>
          <v-btn flat @click.native="retirarse()">Retirarse/Cambiar faena</v-btn>
          <v-btn flat @click.native="primerPaso()">Modificar anterior</v-btn>
        </v-stepper-content>
        <v-stepper-content step="3">
          <v-btn block large color="primary" @click.native="cuartoPaso()">Marcar colación</v-btn>
          <v-card flat class="mb-4">
            <RelojAsistencia v-model="entrada_tarde" label="Vuelta de colación"></RelojAsistencia>
          </v-card>
          <v-btn flat @click.native="segundoPaso()">Modificar anterior</v-btn>
        </v-stepper-content>
        <v-stepper-content step="4">
          <v-btn block large color="primary" @click.native="quintoPaso()">Marcar salida (guardar asistencia)</v-btn>
          <v-card flat class="mb-4">
            <RelojAsistencia v-model="salida_tarde" label="Salida"></RelojAsistencia>
          </v-card>
          <v-btn flat @click.native="tercerPaso()">Modificar anterior</v-btn>
        </v-stepper-content>
        <v-stepper-content step="5">
          <v-card flat class="mb-4">
            <!-- TODO: Extraer componente Cargando -->
            <p v-show="cargando">
              <v-icon large>fas fa-circle-notch fa-spin</v-icon>
            </p>
            <v-alert :value="!cargando && exito" type="success">
              ¡Asistencia enviada! Haz <a class="click-aca" @click="borrarAsistencia()">click acá</a> para ingresar una nueva asistencia.
            </v-alert>
            <v-alert :value="!cargando && !exito" type="error">
              ¡Error en el envío! Haz <a class="click-aca" @click="borrarAsistencia()">click acá</a> para reingresar tu asistencia.
            </v-alert>
          </v-card>
        </v-stepper-content>
      </v-stepper-items>
    </v-flex>
    <v-flex xs12 md5>
      <v-card flat class="ma-4">
        <h4>Asistencia anterior</h4>
        <AsistenciaPrevia ref="asistenciaPrevia"></AsistenciaPrevia>
        <h4>Asistencia actual</h4>
        <dl>
          <dt>Información</dt>
          <dd>{{ fecha }}. {{ centro_costo.nombre_presentacion }} ({{ tipo_hora.nombre_presentacion }})</dd>
          <template v-if="esValidoPrimerPaso">
            <dt>Primer turno</dt>
            <dd>
              <time>{{ formatoHora(entrada_manana.hora, entrada_manana.minuto) }}</time> -
              <time v-if="salida_manana.hora && salida_manana.minuto">{{ formatoHora(salida_manana.hora, salida_manana.minuto) }}</time>
            </dd>
          </template>
          <template v-if="esValidoTercerPaso">
            <dt>Segundo turno</dt>
            <dd>
              <time>{{ formatoHora(entrada_tarde.hora, entrada_tarde.minuto) }}</time> -
              <time v-if="salida_tarde.hora &&salida_tarde.minuto ">{{ formatoHora(salida_tarde.hora, salida_tarde.minuto) }}</time>
            </dd>
          </template>
        </dl>
      </v-card>
    </v-flex>
  </v-layout>
</v-stepper>
</template>

<script>
import { mapGetters, mapState } from 'vuex'
import Fecha from '@/components/elements/Fecha'
import BotonEnvio from '@/components/elements/BotonEnvio'
import SelectorListas from '@/components/elements/SelectorListas'
import RelojAsistencia from '@/components/elements/RelojAsistencia'
import AsistenciaPrevia from '@/components/Asistencias/AsistenciaPrevia'
import Asistencia from '@/modelos/Asistencia'

export default {
  components: {
    Fecha,
    BotonEnvio,
    SelectorListas,
    RelojAsistencia,
    AsistenciaPrevia,
  },
  data() {
    return {
      exito: false,
      cargando: false,
    }
  },
  computed: {
    ...mapGetters(['ultimaAsistencia', 'asistenciaManana', 'asistenciaTarde']),
    ...mapState({
      personaUsuario: state => state.perfil.personaUsuario,
    }),
    paso: {
      get() {
        return this.$store.state.asistencia.paso
      },
      set(valor) {
        this.$store.commit('CAMBIAR_PASO', valor)
      },
    },
    centro_costo: {
      get() {
        return (
          this.$store.state.asistencia.centro_costo || {
            nombre_presentacion: 'No has seleccionado faena.',
          }
        )
      },
      set(valor) {
        this.$store.commit('CAMBIAR_CENTRO_COSTO', valor)
      },
    },
    tipo_hora: {
      get() {
        return (
          this.$store.state.asistencia.tipo_hora || {
            nombre_presentacion: 'No has seleccionado el tipo de hora.',
          }
        )
      },
      set(valor) {
        this.$store.commit('CAMBIAR_TIPO_HORA', valor)
      },
    },
    fecha: {
      get() {
        return this.$store.state.asistencia.fecha || this.ahora().hoy
      },
      set(valor) {
        this.$store.commit('CAMBIAR_FECHA', valor)
      },
    },
    entrada_manana: {
      get() {
        return (
          this.$store.state.asistencia.entrada_manana || {
            hora: this.ahora().hora,
            minuto: this.ahora().minuto,
          }
        )
      },
      set(valor) {
        this.$store.commit('CAMBIAR_ENTRADA_MANANA', valor)
      },
    },
    salida_manana: {
      get() {
        return (
          this.$store.state.asistencia.salida_manana || {
            hora: null,
            minuto: null,
          }
        )
      },
      set(valor) {
        this.$store.commit('CAMBIAR_SALIDA_MANANA', valor)
      },
    },
    entrada_tarde: {
      get() {
        return (
          this.$store.state.asistencia.entrada_tarde || {
            hora: null,
            minuto: null,
          }
        )
      },
      set(valor) {
        this.$store.commit('CAMBIAR_ENTRADA_TARDE', valor)
      },
    },
    salida_tarde: {
      get() {
        return (
          this.$store.state.asistencia.salida_tarde || {
            hora: null,
            minuto: null,
          }
        )
      },
      set(valor) {
        this.$store.commit('CAMBIAR_SALIDA_TARDE', valor)
      },
    },
    esValidoPrimerPaso() {
      return (
        !!this.entrada_manana.hora &&
        !!this.entrada_manana.minuto &&
        'id' in this.centro_costo &&
        'id' in this.tipo_hora
      )
    },
    esValidoSegundoPaso() {
      return !!this.salida_manana.hora && !!this.salida_manana.minuto
    },
    esValidoTercerPaso() {
      return !!this.entrada_tarde.hora && !!this.entrada_tarde.minuto
    },
    esValidoCuartoPaso() {
      return !!this.salida_tarde.hora && !!this.salida_tarde.minuto
    },
  },
  methods: {
    ahora() {
      let cadena = (function() {
          var d = new Date(),
            pad = function(n) {
              return n < 10 ? '0' + n : n
            },
            tz = d.getTimezoneOffset(), // mins
            tzs = (tz > 0 ? '-' : '+') + pad(parseInt(Math.abs(tz / 60)))

          if (tz % 60 != 0) tzs += pad(Math.abs(tz % 60))

          if (tz === 0)
            // Zulu time == UTC
            tzs = 'Z'

          return (
            d.getFullYear() +
            '-' +
            pad(d.getMonth() + 1) +
            '-' +
            pad(d.getDate()) +
            'T' +
            pad(d.getHours()) +
            ':' +
            pad(d.getMinutes()) +
            ':' +
            pad(d.getSeconds()) +
            tzs
          )
        })(),
        hoy = cadena.substring(0, 10),
        hora = cadena.substring(11, 13),
        minuto = cadena.substring(14, 16)

      return {
        hoy,
        hora,
        minuto,
      }
    },
    borrarAsistencia() {
      this.$store.dispatch('borrarAsistencia')
      this.$refs.asistenciaPrevia.obtenerUltimaAsistencia()
    },
    formatoHora(hora, minuto) {
      let pad = numero => {
        let cadena = '' + numero
        return cadena.length === 1 ? '0' + cadena : cadena
      }
      return pad(hora) + ':' + pad(minuto)
    },
    primerPaso() {
      this.$store.commit('CAMBIAR_PASO', 1)
    },
    segundoPaso() {
      this.$store.commit('CAMBIAR_ENTRADA_MANANA', this.entrada_manana)
      this.$store.commit('CAMBIAR_FECHA', this.fecha)
      if (!this.esValidoSegundoPaso) {
        this.salida_manana = {
          hora: this.ahora().hora,
          minuto: this.ahora().minuto,
        }
      }
      this.$store.commit('CAMBIAR_PASO', 2)
    },
    tercerPaso() {
      this.$store.commit('CAMBIAR_SALIDA_MANANA', this.salida_manana)
      if (!this.esValidoTercerPaso) {
        this.entrada_tarde = {
          hora: this.ahora().hora,
          minuto: this.ahora().minuto,
        }
      }
      this.$store.commit('CAMBIAR_PASO', 3)
    },
    cuartoPaso() {
      this.$store.commit('CAMBIAR_ENTRADA_TARDE', this.entrada_tarde)
      if (!this.esValidoCuartoPaso) {
        this.salida_tarde = {
          hora: this.ahora().hora,
          minuto: this.ahora().minuto,
        }
      }
      this.$store.commit('CAMBIAR_PASO', 4)
    },
    quintoPaso() {
      this.$store.commit('CAMBIAR_SALIDA_TARDE', this.salida_tarde)
      this.enviar()
    },
    retirarse() {
      this.$store.commit('CAMBIAR_ENTRADA_MANANA', this.entrada_manana)
      this.$store.commit('CAMBIAR_SALIDA_MANANA', this.salida_manana)
      this.enviar()
    },
    enviar() {
      if (
        //TODO: Hacerlo un dialog vuetify
        confirm(
          'Para retirarte o cambiar de faena tu asistencia se guardará en la base de datos ¿Deseas continuar?',
        )
      ) {
        this.cargando = true
        this.$store.commit('CAMBIAR_PASO', 5)
        this.asistenciaManana.fecha = this.fecha
        this.asistenciaManana.persona_id = this.personaUsuario.id
        let arregloAsistencias = [this.asistenciaManana]
        if (this.asistenciaTarde) {
          this.asistenciaTarde.fecha = this.fecha //TODO: No se agrega reactivamente porque no hay click en el componente Fecha. Solo si se cambia queda guardado, porlo que debe agregarse acá
          this.asistenciaTarde.persona_id = this.personaUsuario.id //TODO: Ver si hay una forma mejor (reactiva, quizás desde vuex) para agregar persona_id
          arregloAsistencias.push(this.asistenciaTarde)
        }

        this.axios({
          method: 'post',
          url: '/api/asistencia',
          data: arregloAsistencias,
        })
          .then(response => {
            this.$emit('enviado', response)
            this.exito = true
            this.cargando = false
          })
          .catch(error => {
            // this.reportarError(error) TODO: Reportar error a la consola de error y a la interfaz
            this.exito = false
            this.cargando = false
          })
      }
    },
  },
}
</script>

<style>
dl {
  float: left;
  padding: 5px;
}

dt {
  float: left;
  margin: 0 1em 1em 0;
  clear: both;
  font-weight: bold;
}

dd {
  float: left;
  width: 300px;
  margin: 0 0 1em;
}

dt::after {
  content: ':';
}

.click-aca {
  color: #fff;
  font-weight: bold;
  text-decoration: underline;
}
</style>
