<template>
  <router-link :to="{ name: 'imprimir', params: { id: id } }">
    <v-btn small :color="color" dark>
      <v-icon left dark>fas fa-print</v-icon>
      Imprimir
    </v-btn>
  </router-link>
</template>

<script>
  export default {
    props: {
      id: {
        type: [Number, String],
        required: true,
      },
      color: {
        type: String,
      }
    }
  }

</script>
