<template>
  <router-link :to="{ name: 'enviar-correo', params: { id: id, modelo: value } }">
    <!--<v-select :value="value" @input="actualizar()" :label="label" :items="items" :item-text="itemText" :item-value="itemValue" :color="color" :dark="dark" overflow prepend-icon="mail"></v-select>-->
    <v-btn small :color="color" dark @click="enviarCorreo(id)">
      <v-icon left dark>fas fa-envelope</v-icon>
      Enviar correo
    </v-btn>
  </router-link>
</template>

<script>
export default {
  props: {
    value: {
      type: [Object, Array, String],
    },
    label: {
      type: String,
    },
    color: {
      type: String,
    },
    dark: {
      type: Boolean,
    },
    id: {
      type: [Number, String],
      required: true,
    },
    itemText: {
      type: String,
      default: 'nombre_presentacion',
    },
    itemValue: {
      type: String,
    },
    enlace: {
      type: String,
      default: '/api/formato_correo',
    },
    campos: {
      type: [String, Array],
      default: () => {
        return ['id', 'nombre_presentacion']
      },
    },
  },
  data() {
    return {
      items: [],
    }
  },
  // created() {
  //   this.axios
  //     .get(this.enlace, {
  //       params: {
  //         basic: this.campos,
  //       },
  //     })
  //     .then(response => {
  //       this.items = response.data.data
  //     })
  //     .catch(error => {
  //       this.$store.dispatch('agregarError', {titulo: '', error})
  //     })
  // },
  methods: {
    actualizar() {
      this.$emit('input', this.value)
    },
  },
}
</script>
