<template>
  <v-layout row>
    <v-flex xs12>
      <v-card>
        <v-toolbar card color="white" prominent>
          <v-toolbar-title class="body-2 grey--text">{{ titulo }}</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-tooltip top v-for="(enlace, index) in enlaces" :key="index">
            <v-btn icon :to="enlace.enlace" slot="activator">
              <v-icon>{{ enlace.icono }}</v-icon>
            </v-btn>
            <span>{{ enlace.titulo }}</span>
          </v-tooltip>
        </v-toolbar>
        <v-divider></v-divider>
        <v-card-text>
          <transition appear name="slide-fade" mode="out-in">
            <router-view></router-view>
          </transition>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
  export default {
    props: {
      value: {
        type: String,
      },
      titulo: {
        type: String,
      },
      enlaces: {
        type: Array,
        default: [{
          enlace: "crear",
          icono: "add",
          titulo: "Nuevo"
        }, {
          enlace: "lista",
          icono: "apps",
          titulo: "Lista"
        }]
      }
    }
  }

</script>
