<template>
  <v-text-field :label="label" :required="required" v-model="fecha" :rules="computedRules" @input="actualizar()" type="date" :color="color"></v-text-field>
</template>

<script>
export default {
  name: 'fecha',
  props: {
    value: {
      type: String,
    },
    label: {
      type: String,
    },
    required: {
      type: Boolean,
    },
    rules: {
      type: Array,
    },
    hoy: {
      type: Boolean,
    },
    color: {
      type: String,
      default: 'primary',
    }
  },
  created() {
    this.fecha = this.value
    this.$nextTick(function() {
      if (this.hoy) {
        this.value = this._hoy()
        this.actualizar()
      }
    })
  },
  data() {
    return {
      fecha: null,
    }
  },
  methods: {
    _hoy() {
      let ahora = new Date(),
        hoy = ahora.toISOString(),
        resultado = hoy.substring(0, 10)

      return resultado
    },
    actualizar() {
      this.$emit('input', this.fecha)
    },
  },
  computed: {
    computedRules() {
      let reglas = []
      reglas.concat(this.rules)
      if (this.required)
        reglas.push(v => !!v || 'Ingresa una fecha')
      return reglas
    },
  },
}
</script>
