<template>
  <v-card>
    <v-card-title>
      {{ titulo }}
      <v-spacer></v-spacer>
      <v-text-field append-icon="search" label="Buscar" single-line hide-details v-model="buscar"></v-text-field>
    </v-card-title>
    <v-card-text>
    <v-data-table :headers="encabezados" :items="lista" :search="buscar" rows-per-page-text="Resultados por página">
      <template slot="items" slot-scope="props">
        <td name="item" v-for="(encabezado, index) in encabezados" :key="index" class="text-xs-right">
          {{ props.item[encabezado.value] }}
        </td>
      </template>
      <template slot="pageText" slot-scope="{ pageStart, pageStop }">
        {{ pageStart }}-{{ pageStop }}
      </template>
      <template slot="no-data">
        <v-alert :value="true" color="error" icon="warning">
          No hay datos para mostrar :(
        </v-alert>
      </template>
    </v-data-table>
    </v-card-text>
  </v-card>
</template>

<script>
  export default {
    props: [
      'value',
      'encabezados',
      'lista',
      'titulo'
    ],
    data() {
      return {
        buscar: ''
      }
    }
  }

</script>