<template>
  <v-text-field v-model="porcentaje" suffix="%" mask="##,##" return-masked-value :label="label" :color="color" :rules="computedRules" :required="required" @input="actualizar"></v-text-field>
</template>

<script>
export default {
  props: {
    value: {
      type: [Number, String],
    },
    label: {
      type: String,
      default: 'Monto',
    },
    required: {
      type: Boolean,
    },
    rules: {
      type: Array,
    },
    color: {
      type: String,
      default: 'primary',
    },
  },
  data() {
    return {
      porcentaje: this.value,
    }
  },
  computed: {
    computedRules() {
      let reglas = []
      reglas.concat(this.rules)
      if (this.required) reglas.push(v => !!v || 'Ingresa el porcentaje')
      return reglas
    },
  },
  methods: {
    actualizar() {
      this.porcentaje = this.porcentaje.replace(',', '.')
      this.$emit('input', parseFloat(this.porcentaje)) //TODO: Obtener valores en decimal o como porcentaje con comas
    },
  },
}
</script>