<template>
  <v-layout row wrap>
    <v-flex sm4>
      <v-text-field label="Facebook" v-model="value.facebook" single-line prepend-icon="fab fa-facebook"
        :color="color" @input="actualizar()"></v-text-field>
    </v-flex>
    <v-flex sm4>
      <v-text-field label="Twitter" v-model="value.twitter" single-line prepend-icon="fab fa-twitter"
        :color="color" @input="actualizar()"></v-text-field>
    </v-flex>
    <v-flex sm4>
      <v-text-field label="LinkedIn" v-model="value.linkedin" single-line prepend-icon="fab fa-linkedin"
        :color="color" @input="actualizar()"></v-text-field>
    </v-flex>
  </v-layout>
</template>

<script>
  export default {
    props: [
      'value',
      'label',
      'color',
    ],
    methods: {
      actualizar() {
        this.$emit('input', this.value)
      }
    }
  }

</script>