<template>
  <v-text-field v-model.lazy="rut" maxlength="13" :label="label" :readonly="readonly" :required="required" :disabled="disabled" :autofocus="autofocus" :rules="computedRules" @input="actualizar"></v-text-field>
</template>

<script>
export default {
  props: {
    value: {
      type: String,
    },
    label: {
      type: String,
      default: 'RUT',
    },
    readonly: {
      type: Boolean,
    },
    required: {
      type: Boolean,
    },
    autofocus: {
      type: Boolean,
    },
    disabled: {
      type: Boolean,
    },
    rules: {
      type: Array,
    },
  },
  data() {
    return {
      rut: null,
    }
  },
  computed: {
    computedRules() {
      let reglas = []
      reglas.concat(this.rules)
      if (this.required) reglas.push(v => !!v || 'Ingresa el RUT')
      reglas.push(v => {
        let rut = this.onlyRut(v)
        let idrut = rut.substring(0, rut.length - 1),
          dvrut = rut.substring(rut.length - 1)

        if (idrut.length < 7) return 'RUT Incompleto.'

        let dv = (function(rut) {
          for (var con = 0, sum = 1; rut; rut = Math.floor(rut / 10), con++)
            sum = (sum + (rut % 10) * (9 - con % 6)) % 11
          return sum ? sum - 1 : 'K'
        })(idrut)

        return dv.toString().toLowerCase() === dvrut.toString().toLowerCase() || 'RUT Inválido.'
      })
      return reglas
    },
  },
  methods: {
    format(input) {
      return this.onlyRut(input)
        .replace(/(\d)(?=(?:\d{3})+[\dkK]$)/g, '$1.')
        .replace(/(?=\d)([\dkK])$/g, '-$1')
    },
    onlyRut(input) {
      return input.replace(/[^\dkK]/g, '')
    },
    actualizar(evt) {
      this.rut = this.format(evt)
      this.$emit('input', this.onlyRut(evt))
    },
  },
}
</script>
