<template>
  <v-select auto label="Color" :items="colores" v-model="color" :rules="computedRules" :required="required" @input="actualizar()" single-line :color="color">
    <template slot="selection" slot-scope="data">
      <!--
            <v-list-tile-content :class="data.item" @input="data.parent.selectItem(data.item)" :selected="data.selected" :key="JSON.stringify(data.item)"></v-list-tile-content>
            -->
      <div class="muestra-color" :class="data.item">&nbsp;</div>
    </template>
    <template slot="item" slot-scope="data">
      <div class="muestra-color" :class="data.item">&nbsp;</div>
    </template>
  </v-select>
</template>

<script>
export default {
  props: {
    value: {
      type: String,
    },
    color: {
      type: String,
      default: 'primary',
    },
    colores: {
      type: Array,
      default: () => [
        'primary',
        'secondary',
        'accent',
        'error',
        'info',
        'success',
        'warning',
      ],
    },
    required: {
      type: Boolean,
    },
    rules: {
      type: Array,
    },
  },
  data() {
    return {
      color: null,
    }
  },
  methods: {
    actualizar() {
      this.$emit('input', this.color)
    },
  },
  computed: {
    computedRules() {
      let reglas = []
      reglas.concat(this.rules)
      if (this.required)
        reglas.push([(v => !!v || v === 0) || 'Elige un color'])
      return reglas
    },
  },
}
</script>

<style scoped>
.muestra-color {
  width: 100%;
  height: 100%;
  padding: 1em auto;
  margin: 0 auto;
  text-align: center;
  line-height: 2em;
  color: white;
}
</style>
