<template>
  <v-select :items="contactos" item-text="nombre" v-model="contacto" label="Contacto" autocomplete>
    <template slot="selection" slot-scope="data">
      <v-chip @input="data.parent.selectItem(data.item)" :selected="data.selected" class="chip--select-multi" :key="JSON.stringify(data.item)">
        <v-avatar>
          <img :src="data.item.avatar">
        </v-avatar>
        {{ data.item.nombre_presentacion }}
      </v-chip>
    </template>
    <template slot="item" slot-scope="data">
      <v-list-tile-avatar>
        <img v-bind:src="data.item.avatar" />
      </v-list-tile-avatar>
      <v-list-tile-content>
        <v-list-tile-title v-html="data.item.nombre_presentacion"></v-list-tile-title>
        <v-list-tile-sub-title v-html="data.item.cargo"></v-list-tile-sub-title>
      </v-list-tile-content>
    </template>
  </v-select>
</template>

<script>
export default {
  props: {
    value: {
      type: Object,
    },
    contactos: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {
      contacto: null,
    }
  },
  methods: {
    actualizar() {
      this.$emit('input', this.contacto)
    },
  },
}
</script>