<!-- TODO: Verificar null en rut y nombre -->
<template>
  <v-layout row
            wrap>
    <v-flex xs6>
      <v-autocomplete v-model="seleccion"
                      :label="labelRut"
                      :loading="cargando"
                      :items="items"
                      :autocomplete="autocomplete"
                      :rules="computedRules"
                      :required="required"
                      :color="color"
                      item-text="rut"
                      return-object
                      @input="actualizar" />
    </v-flex>
    <v-flex xs6>
      <v-autocomplete v-model="seleccion"
                      :label="labelNombre"
                      :loading="cargando"
                      :items="items"
                      :autocomplete="autocomplete"
                      :rules="computedRules"
                      :required="required"
                      :color="color"
                      item-text="nombre_presentacion"
                      return-object
                      @input="actualizar" />
    </v-flex>
  </v-layout>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  props: {
    value: {
      type: [Object, Array, String, Number],
      default: null,
    },
    labelRut: {
      type: String,
      default: 'RUT',
    },
    labelNombre: {
      type: String,
      default: 'Nombre',
    },
    loading: {
      type: Boolean,
      default: true,
    },
    autocomplete: {
      type: Boolean,
      default: true,
    },
    required: {
      type: Boolean,
      default: false,
    },
    rules: {
      type: Array,
      default: () => [],
    },
    color: {
      type: String,
      default: 'primary',
    },
    enlace: {
      type: String,
      required: true,
    },
    campos: {
      type: [String, Array],
      default: () => ['id', 'rut', 'nombre_presentacion'],
    },
    itemValue: {
      type: [Number, String],
      default: null,
    },
  },
  data() {
    return {
      cargando: this.loading,
      seleccion: this.value,
      items: [],
    }
  },
  computed: {
    computedRules() {
      let reglas = []
      reglas.concat(this.rules)
      if (this.required)
        reglas.push(v => !!v || v === 0 || 'Se require esta información')
      return reglas
    },
  },
  created() {
    this.axios
      .get(this.enlace, {
        params: {
          fields: this.campos,
        },
      })
      .then(response => {
        this.items = response.data.data
        this.seleccion = this.value
        this.cargando = false
      })
      .catch(error => {
        this.$store.dispatch('agregarError', {
          titulo: 'SelectorRutNombre',
          error,
        })
        this.cargando = false
      })
  },
  methods: {
    actualizar() {
      let valor = this.seleccion
      if (this.itemValue) {
        valor = this.seleccion[this.itemValue]
      }

      this.$emit('input', valor)
    },
  },
}
</script>
