<template>
  <v-select v-model="seleccion" @input="actualizar" :label="label" :items="items" :item-value="itemValue" :autocomplete="autocomplete" :rules="computedRules" :required="required" :color="color" :chips="chips" :tags="tags" :single-line="singleLine" :bottom="bottom">
    <template slot="item" slot-scope="data">
      <template v-if="noHayRegistro(data) && noHaySubcuenta(data)">
        <v-list-tile-title>{{ data.item.cuenta_mayor }}</v-list-tile-title>
      </template>
      <v-list-tile-sub-title v-else-if="noHayRegistro(data)">{{ data.item.subcuenta }}</v-list-tile-sub-title>
      <v-list-tile-content v-else v-text="data.item.codigo + ' · ' + data.item.registro"></v-list-tile-content>
    </template>
  </v-select>
</template>

<script>
import { mapGetters } from 'vuex'
//TODO: Crear prop cache, que si está activada, busque según la parte final del enlace (/api/{concepto}) el concepto en vuex. la caché se actualiza cerrando sesion
export default {
  name: 'selector-cuentas',
  props: {
    value: {
      type: [Object, Array, String, Number],
    },
    label: {
      type: String,
    },
    autocomplete: {
      type: Boolean,
      default: true,
    },
    required: {
      type: Boolean,
    },
    rules: {
      type: Array,
    },
    chips: {
      type: Boolean,
    },
    tags: {
      type: Boolean,
    },
    singleLine: {
      type: Boolean,
    },
    bottom: {
      type: Boolean,
    },
    itemValue: {
      type: [Number, String],
      default: 'id',
    },
    color: {
      type: String,
      default: 'primary',
    },
    enlace: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      seleccion: null,
      items: [],
    }
  },
  created() {
    this.axios
      .get(this.enlace, {
        params: {
          fields: ['id', 'codigo', 'cuenta_mayor', 'subcuenta', 'registro'],
        },
      })
      .then(response => {
        this.items = response.data.data
      })
      .catch(error => {
        this.$store.dispatch('agregarError', {
          titulo: 'SelectorCuentas',
          error,
        })
      })
  },
  methods: {
    actualizar() {
      this.$emit('input', this.seleccion)
    },
    noHayRegistro: function(data) {
      return (
        !data.item ||
        typeof data.item == 'string' ||
        !('registro' in data.item) ||
        data.item.registro == null
      )
    },
    noHaySubcuenta: function(data) {
      return (
        !data.item ||
        typeof data.item == 'string' ||
        !('subcuenta' in data.item) ||
        data.item.subcuenta == null
      )
    },
  },
  computed: {
    computedRules() {
      let reglas = []
      reglas.concat(this.rules)
      if (this.required)
        reglas.push(v => !!v || v === 0 || 'Se require esta información')
      return reglas
    },
  },
}
</script>
