<template>
  <v-card>
    <v-card-title>
      Código
      <v-spacer></v-spacer>
      <v-text-field append-icon="search" label="Search" single-line hide-details v-model="search"></v-text-field>
    </v-card-title>
    <v-data-table :headers="headers" :items="items" :search="search" hide-actions>
      <template slot="items" slot-scope="props">
        <td>
          <v-edit-dialog lazy> {{ props.item.codigo }}
            <v-text-field slot="input" label="Editar" v-model="props.item.codigo" single-line></v-text-field>
          </v-edit-dialog>
        </td>
        <td>
          <v-edit-dialog lazy> {{ props.item.nombre }}
            <v-text-field slot="input" label="Editar" v-model="props.item.nombre" single-line></v-text-field>
          </v-edit-dialog>
        </td>
        <td>
          <v-edit-dialog lazy> {{ props.item.cantidad }}
            <v-text-field slot="input" label="Editar" v-model="props.item.cantidad" single-line></v-text-field>
          </v-edit-dialog>
        </td>
        <td>
          <v-edit-dialog lazy> {{ props.item.unidad }}
            <v-text-field slot="input" label="Editar" v-model="props.item.unidad" single-line></v-text-field>
          </v-edit-dialog>
        </td>
        <td>
          <v-edit-dialog lazy> {{ props.item.precio }}
            <v-text-field slot="input" label="Editar" v-model="props.item.precio" single-line></v-text-field>
          </v-edit-dialog>
        </td>
        <td>
          <v-edit-dialog lazy> {{ props.item.impuestos }}
            <v-text-field slot="input" label="Editar" v-model="props.item.impuestos" single-line></v-text-field>
          </v-edit-dialog>
        </td>
      </template>
      <template slot="pageText" slot-scope="{ pageStart, pageStop }">
        From {{ pageStart }} to {{ pageStop }}
      </template>
    </v-data-table>
  </v-card>
</template>

<script>
  export default {

  }

</script>