<template>
  <v-tooltip right>
    <span>Si posee más de un teléfono, ingrésalos separados por comas</span>
    <v-text-field v-model="telefono" @input="actualizar" :label="label" :rules="computedRules" :required="required" :color="color"></v-text-field>
  </v-tooltip>
</template>

<script>
export default {
  props: {
    value: {
      type: String,
    },
    label: {
      type: String,
      default: 'Teléfono',
    },
    required: {
      type: Boolean,
    },
    rules: {
      type: Array,
    },
    color: {
      type: String,
      default: 'primary',
    },
  },
  data() {
    return {
      telefono: this.value,
    }
  },
  computed: {
    computedRules() {
      let reglas = []
      reglas.concat(this.rules)
      if (this.required) reglas.push(v => !!v || 'Se require esta información')
      return reglas
    },
  },
  methods: {
    actualizar() {
      this.$emit('input', this.telefono)
    },
  },
}
</script>
