<template>
  <!-- TODO: Falta deepwatch para ver cambios en objetos (boton 8 a 18 con cambios previos) y asi mantener ver_menu en true -->
  <v-menu max-height="250px" full-width v-model="ver_menu">
    <v-text-field slot="activator" :close-on-content-click="false" append-icon="access_time" :append-icon-cb="llenarAhora" v-model="formatoHora" :required="required" :rules="computedRules" :color="color" :label="label" readonly></v-text-field>
    <v-layout>
      <v-flex xs6>
        <v-list>
          <v-subheader>Hora</v-subheader>
          <v-list-tile v-for="h in horas" @click="seleccionarHora(h)" :key="h">
            <v-list-tile-title>{{ pad(h) }}</v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-flex>
      <v-flex xs6>
        <v-list>
          <v-subheader>Minutos</v-subheader>
          <v-list-tile v-for="m in minutos" @click="seleccionarMinuto(m)" :key="m">
            <v-list-tile-title>{{ pad(m) }}</v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-flex>
    </v-layout>
  </v-menu>
</template>

<script>
export default {
  name: 'tiempo',
  props: {
    value: {
      type: Object,
      default: () => {
        return {
          hora: null,
          minuto: null,
        }
      },
    },
    label: {
      type: String,
      default: 'Tiempo',
    },
    color: {
      type: String,
      default: 'primary',
    },
    required: {
      type: Boolean,
    },
    rules: {
      type: Array,
    },
    ahora: {
      type: Boolean,
    },
    horas: {
      type: Array,
      default: () => [
        '8',
        '9',
        '10',
        '11',
        '12',
        '13',
        '14',
        '15',
        '16',
        '17',
        '18',
        '19',
        '20',
        '21',
        '22',
        '23',
        '0',
        '1',
        '2',
        '3',
        '4',
        '5',
        '6',
        '7',
      ],
    },
    minutos: {
      type: Array,
      default: () => ['0', '15', '30', '45'],
    },
  },
  data() {
    return {
      ver_menu: false,
    }
  },
  computed: {
    formatoHora() {
      let hora = this.value.hora,
        minuto = this.value.minuto

      if (!hora && !minuto) return null

      let cadenaHora = this.pad(hora),
        cadenaMinuto = this.pad(minuto)

      return cadenaHora + ':' + cadenaMinuto
    },
    computedRules() {
      let reglas = []
      reglas.concat(this.rules)
      if (this.required)
        reglas.push(v => !!v || v === 0 || 'Se require esta información')
      return reglas
    },
  },
  methods: {
    update() {
      this.$emit('input', this.value)
    },
    pad(numero) {
      let cadena = '' + numero
      return cadena.length === 1 ? '0' + cadena : cadena
    },
    llenarAhora() {
      let ahora = new Date()
      this.$set(this.value, 'hora', ahora.getHours())
      this.$set(this.value, 'minuto', this.aproximarMinutos(ahora.getMinutes()))
      this.update()
    },
    seleccionarHora(hora) {
      this.$set(this.value, 'hora', hora)
      this.update()
      if (this.value.minuto == null) this.seleccionarMinuto(0)
    },
    seleccionarMinuto(minuto) {
      this.$set(this.value, 'minuto', minuto)
      this.update()
      if (this.value.hora == null) this.seleccionarHora(8)
    },
    aproximarMinutos(minuto) {
      let lista = this.minutos,
        largo = lista.length,
        min = 0,
        mid = 0,
        max = largo - 1

      while (true) {
        if (min == max) return lista[min]

        mid = Math.ceil((max - min) / 2 + min)
        if (lista[mid] == minuto) return lista[mid]
        else if (lista[mid] < minuto) min = mid
        else max = Math.max(min, mid - 1)
      }
    },
  },
}
</script>
