<template>
  <v-bottom-sheet :value="verUnidadesProductivas" :persistent="!(unidadProductivaUsuario)">
    <v-btn slot="activator" color="primary" fab dark small bottom right absolute>
      <v-icon>keyboard_arrow_up</v-icon>
    </v-btn>
    <v-list>
      <v-subheader>Unidades productivas</v-subheader>
      <v-list-tile v-for="unidad in unidadesProductivasUsuario" :key="unidad.id" @click="cambiarUnidadProductiva(unidad.id)">
        <v-list-tile-avatar>
          <v-avatar size="32px" tile>
            <img :src="unidad.logotipo" :alt="unidad.nombre_presentacion">
          </v-avatar>
        </v-list-tile-avatar>
        <v-list-tile-title>{{ unidad.nombre }}</v-list-tile-title>
      </v-list-tile>
    </v-list>
  </v-bottom-sheet>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters([
      'unidadesProductivasUsuario',
      'unidadProductivaUsuario',
      'verUnidadesProductivas',
    ]),
  },
  methods: {
    cambiarUnidadProductiva(empresa) {
      this.$store.dispatch('cambiarVerUnidadesProductivas', false)
    },
  },
}
</script>
