<template>
  <v-app>
    <Alerta />
    <Cargando v-if="estaCargando" />
    <MenuLateral v-if="mostrarMenus" />
    <MenuSuperior v-if="mostrarMenus" />
    <v-content>
      <v-container v-cloak
                   fluid
                   fill-height
                   class="grey lighten-4">
        <transition appear
                    name="fade"
                    mode="out-in">
          <router-view />
        </transition>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import { mapGetters, mapState } from 'vuex'

export default {
  components: {
    MenuLateral: () => import('@/components/MenuLateral'),
    MenuSuperior: () => import('@/components/MenuSuperior'),
    Alerta: () => import('@/components/elements/Alerta'),
    Cargando: () => import('@/components/elements/Cargando'),
  },
  computed: {
    ...mapGetters(['estaAutenticado', 'estaCargando']),
    ...mapState({
      personaUsuario: state => state.perfil.personaUsuario,
      unidadProductivaUsuario: state => state.perfil.unidadProductivaUsuario,
    }),
    mostrarMenus() {
      return (
        this.estaAutenticado &&
        !this.estaCargando &&
        this.personaUsuario &&
        this.unidadProductivaUsuario
      )
    },
  },
}
</script>

<style>
[v-cloak] > * {
  display: none;
}
[v-cloak]::before {
  content: 'cargando…';
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: opacity 0.2s ease, transform 0.4s ease;
}

.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}
</style>
