<template>
  <v-form v-model="valido" ref="form" lazy-validation>
    <!-- datos de identificación -->
    <v-layout row wrap>
      <v-flex xs12 sm6>
        <v-card flat>
          <v-card-title>
            <h5>Identificación</h5>
          </v-card-title>
          <v-card-text>
            <v-layout row wrap>
              <v-flex sm4>
                <RutChileno v-model="cliente.rut" required></RutChileno>
              </v-flex>
              <v-flex sm4>
                <v-text-field label="Nombre legal" v-model="cliente.nombre" :rules="[(v) => !!v || 'Ingresa la razón social del cliente']" required></v-text-field>
              </v-flex>
              <v-flex sm4>
                <v-text-field label="Nombre ficticio" v-model="cliente.nombre_presentacion" :rules="[(v) => !!v || 'Ingresa el nombre de presentación']" required></v-text-field>
              </v-flex>
              <v-flex sm12>
                <v-text-field label="Giro" v-model="cliente.giro"></v-text-field>
              </v-flex>
              <v-flex sm4>
                <SelectorListas v-model="cliente.tipo" enlace="/api/tipo_cliente" label="Tipo" chips tags></SelectorListas>
              </v-flex>
              <v-flex sm4>
                <SelectorListas v-model="cliente.rubro" enlace="/api/rubro_cliente" label="Rubro" chips tags></SelectorListas>
              </v-flex>
              <v-flex sm4>
                <Porcentaje v-model="cliente.descuento" label="Descuento"></Porcentaje>
              </v-flex>
            </v-layout>
          </v-card-text>
        </v-card>
      </v-flex>
      <!-- fin de datos identificación -->
      <!-- dirección -->
      <v-flex xs12 sm6>
        <v-card flat>
          <v-card-title>
            <h5>Dirección</h5>
          </v-card-title>
          <v-card-text v-for="(direccion, index) in cliente.direcciones" :key="index">
            <Direccion v-model="cliente.direcciones[index]" seleccionarPais></Direccion>
            <v-divider v-if="cliente.direcciones.length > 1"></v-divider>
          </v-card-text>
          <v-card-actions>
            <v-btn flat color="primary" @click="nuevaDireccion()">Agregar otra dirección</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
      <!-- fin dirección -->
      <!-- datos de contacto -->
      <v-flex xs12 sm6>
        <v-card flat>
          <v-card-title>
            <h5>Contacto empresarial</h5>
          </v-card-title>
          <v-card-text>
            <v-layout row wrap>
              <v-flex xs12 sm6>
                <Telefono v-model="cliente.telefono"></Telefono>
              </v-flex>
              <v-flex xs12 sm6>
                <Correo v-model="cliente.correo" required></Correo>
              </v-flex>
            </v-layout>
            <RRSSPicker v-model="cliente.redes_sociales"></RRSSPicker>
          </v-card-text>
        </v-card>
      </v-flex>
      <!-- Fin datos de contacto -->
      <!-- persona de contacto -->
      <v-flex xs12 sm6>
        <v-card flat>
          <v-card-title>
            <h5>Persona de contacto</h5>
          </v-card-title>
          <v-card-text v-for="(contacto, index) in cliente.contactos" :key="index">
            <ContactoComercial v-model="cliente.contactos[index]"></ContactoComercial>
            <v-divider v-if="cliente.contactos.length > 1"></v-divider>
          </v-card-text>
          <v-card-actions>
            <v-btn flat color="primary" @click="nuevoContacto()">Agregar otra persona de contacto</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
      <!-- Fin persona de contacto -->

      <!-- valoraciones -->
      <!-- importancia, general, credibilidad, calidad, rapidez, utilidad -->
      <!-- fin valoraciones -->
      <!-- información adicional -->
      <v-flex xs12>
        <v-card flat>
          <v-card-title>
            <h5>Información adicional</h5>
          </v-card-title>
          <v-card-text>
            <v-layout row wrap>
              <v-flex xs12>
                <v-text-field v-model="cliente.comentarios" label="Comentario" multi-line></v-text-field>
              </v-flex>
            </v-layout>
          </v-card-text>
        </v-card>
      </v-flex>
      <v-flex xs12>
        <v-card flat>
          <v-card-actions>
            <BotonEnvio :disabled="!valido" :refs="$refs" enlace="/api/cliente" :objeto="cliente" agregarEmpresa>Crear cliente</BotonEnvio>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-form>
</template>

<script>
import { mapGetters } from 'vuex'

import Fecha from '@/components/elements/Fecha'
import RutChileno from '@/components/elements/RutChileno'
import Direccion from '@/components/elements/Direccion'
import RRSSPicker from '@/components/elements/RRSSPicker'
import ContactoComercial from '@/components/elements/ContactoComercial'
import BotonEnvio from '@/components/elements/BotonEnvio'
import SelectorListas from '@/components/elements/SelectorListas'
import Telefono from '@/components/elements/Telefono'
import Correo from '@/components/elements/Correo'
import Porcentaje from '@/components/elements/Porcentaje'
import Cliente from '@/modelos/Cliente'

export default {
  components: {
    BotonEnvio,
    Fecha,
    RutChileno,
    Direccion,
    RRSSPicker,
    ContactoComercial,
    SelectorListas,
    Telefono,
    Correo,
    Porcentaje,
  },
  props: {
    id: {
      type: [Number, String],
    },
  },
  data() {
    return {
      valido: false,
      editando: false,
      cliente: new Cliente(),
    }
  },
  created() {
    if (this.id) {
      this.editando = true
      this.axios
        .get('/api/cliente/' + this.id)
        .then(response => {
          this.cliente = Object.assign({}, this.cliente, response.data)
        })
        .catch(error => {
          this.$store.dispatch('agregarError', {titulo: 'CrearCliente', error})
        })
    }
  },
  methods: {
    nuevaDireccion() {
      this.cliente.direcciones.push({})
    },
    nuevoContacto() {
      this.cliente.contactos.push({})
    },
  },
}
</script>
