<template>
  <Lista enlace="/api/cliente" :encabezados="encabezados" :pagination="{sortBy: 'numero_cotizaciones', descending: true }">
    <template slot="acciones" slot-scope="item">
      <v-card flat>
        <router-link :to="{ name: 'lista-cotizaciones', params: { cliente: item.item.id } }">
          <v-btn small color="primary" dark>
            <v-icon left dark>fa-eye</v-icon>
            Ver cotizaciones
          </v-btn>
        </router-link>
        <router-link :to="{ name: 'crear-cotizacion', params: { cliente: item.item.id } }">
          <v-btn small color="primary" dark>
            <v-icon left small dark>fa-file</v-icon>
            Crear cotización
          </v-btn>
        </router-link>
        <router-link :to="{ name: 'editar-cliente', params: { id: item.item.id } }">
          <v-btn small color="primary" dark>
            <v-icon left dark>edit</v-icon>
            Editar cliente
          </v-btn>
        </router-link>
        <BotonEnviarCorreo color="primary" :id="item.item.id" dark></BotonEnviarCorreo>
      </v-card>
    </template>
  </Lista>
</template>

<script>
import { mapGetters } from 'vuex'
import accounting from 'accounting'
import Lista from '@/components/elements/Lista'
import BotonEnviarCorreo from '@/components/elements/BotonEnviarCorreo'

export default {
  components: {
    Lista,
    BotonEnviarCorreo,
  },
  data() {
    return {
      encabezados: [
        {
          text: 'RUT',
          value: 'rut',
        },
        {
          text: 'Nombre',
          value: 'nombre_presentacion',
        },
        {
          text: 'Giro',
          value: 'giro',
        },
        {
          text: 'Número cotizaciones',
          value: 'numero_cotizaciones',
          default_value: 0,
        },
      ],
    }
  },
  methods: {
    formatoMonetario(monto) {
      return accounting.formatMoney(monto, '$', 0, '.')
    },
  },
}
</script>
