<template>
  <v-layout row wrap>
    <v-flex xs12>
      <v-card flat>
        <v-card-title>
          <h5>Contratos</h5>
        </v-card-title>
        <v-card-text>
          <v-layout row wrap>
            <v-flex xs12 md8>
              <CrearContrato v-model="contrato"></CrearContrato>
            </v-flex>
            <v-flex xs12 md4>
              <ListaContratos v-model="contratos"></ListaContratos>
            </v-flex>
          </v-layout>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import CrearContrato from './CrearContrato'
import ListaContratos from './ListaContratos'

export default {
  components: {
    CrearContrato,
    ListaContratos,
  },
  data() {
    return {
      contrato: {},
      contratos: [],
    }
  },
  created() {
    
  }
}
</script>