<template>
  <v-layout row wrap>
    <v-flex xs12>
      <SelectorListas v-model="asignacion_familiar.periodo" @input="actualizar" enlace="/api/periodo" label="Períodos" required></SelectorListas>
    </v-flex>
    <v-flex xs6>
      <SelectorListas v-model="asignacion_familiar.sistema_previsional" @input="actualizar" enlace="/api/institucion_prevision" label="Sistema previsional" required></SelectorListas>
      <!-- <Selector v-model="asignacion_familiar.sistema_previsional" :items="sistemas_previsionales" label="Sistema previsional" required></Selector> -->
    </v-flex>
    <v-flex xs6>
      <SelectorListas v-model="asignacion_familiar.sistema_salud" @input="actualizar" enlace="/api/institucion_pension" label="Sistema salud" required></SelectorListas>
      <!-- <Selector v-model="asignacion_familiar.sistema_salud" :items="sistemas_salud" label="Sistema salud" required></Selector> -->
    </v-flex>
    <v-flex sm4>
      <v-text-field v-model="asignacion_familiar.cargas" @input="actualizar" type="number" min="0" label="Número de cargas"></v-text-field>
    </v-flex>
    <v-flex sm6>
      <Selector v-model="asignacion_familiar.tramo" @input="actualizar" :items="tramos_asignacion_familiar" label="Tramo" required></Selector>
    </v-flex>
  </v-layout>
</template>

<script>
import Fecha from '@/components/elements/Fecha'
import SelectorListas from '@/components/elements/SelectorListas'
import Selector from '@/components/elements/Selector'

export default {
  components: {
    Fecha,
    SelectorListas,
    Selector,
  },
  props: {
    value: {
      type: Object,
    },
  },
  data() {
    return {
      periodo: null,
      asignacion_familiar: {},
      indicadores_previsionales: {},
      tramos_asignacion_familiar: [],
    }
  },
  created() {
    this.axios
      .get('/api/indicadores_previsionales')
      .then(response => {
        this.indicadores_previsionales = response.data.data
        this.tramos_asignacion_familiar = Object.keys(
          this.indicadores_previsionales.asignacion_familiar
        )
      })
      .catch(error => {
        this.$store.dispatch('agregarError', {titulo: 'ImposicionesPersona', error})
      })
  },
  methods: {
    actualizar() {
      this.$emit('input', this.asignacion_familiar)
    },
  },
}
</script>
