<template>
  <Lista enlace="/api/persona" :encabezados="encabezados">
    <template slot="acciones" slot-scope="item">
      <v-card flat>
        <v-btn small color="primary" class="white--text" @click="asignarVacaciones(item.item.id)">
          <v-icon left dark>edit</v-icon>
          Asignar vacaciones
        </v-btn>
        <v-btn small color="primary" class="white--text" @click="verContratos(item.item.id)">
          <v-icon left dark>edit</v-icon>
          Ver contratos
        </v-btn>
        <v-btn small color="primary" class="white--text" @click="enviarCorreo(item.item.id)">
          <v-icon left dark>edit</v-icon>
          Enviar correo
        </v-btn>
        <router-link :to="{ name: 'editar-persona', params: { id: item.item.id } }">
          <v-btn small color="primary" dark>
            <v-icon left dark>edit</v-icon>
            Editar persona
          </v-btn>
        </router-link>
        <BotonEnviarCorreo color="primary" dark></BotonEnviarCorreo>
      </v-card>
    </template>
  </Lista>
</template>

<script>
  import Lista from '@/components/elements/Lista'
  import BotonEnviarCorreo from '@/components/elements/BotonEnviarCorreo'

  export default {
    components: {
      Lista,
      BotonEnviarCorreo,
    },
    data() {
      return {
        encabezados: [{
            text: 'RUT',
            value: 'rut'
          },
          {
            text: 'Nombres',
            value: 'nombres'
          },
          {
            text: 'Primer apellido',
            value: 'primer_apellido'
          },
          {
            text: 'Segundo apellido',
            value: 'segundo_apellido'
          },
          {
            text: 'Cargo',
            value: 'cargo'
          },
          {
            text: 'Estado',
            value: 'estado'
          }
        ],
      }
    },
  }

</script>