<template>
  <v-list three-line>
    <template v-for="(contrato, index) in contratos">
      <v-subheader v-if="item.header" v-text="item.header" :key="'contrato-header' + index"></v-subheader>
      <v-divider v-else-if="item.divider" :inset="item.inset" :key="'contrato-division' + index"></v-divider>
      <v-list-tile avatar v-else :key="'contrato-header' + index">
        <v-list-tile-avatar>
          <img :src="item.avatar" />
        </v-list-tile-avatar>
        <v-list-tile-content>
          <v-list-tile-title v-html="item.title"></v-list-tile-title>
          <v-list-tile-sub-title v-html="item.subtitle"></v-list-tile-sub-title>
        </v-list-tile-content>
      </v-list-tile>
    </template>
  </v-list>
</template>

<script>
  export default {
    data() {
      return {
        contratos: null,
      }
    },
    created() {
      this.axios.get('/api/contratos')
        .then(response => {
          this.contratos = response.data.data
        })
        .catch(error => {
          this.$store.dispatch('agregarError', {titulo: 'ListaContratos', error})
        })
    },
  }

</script>
