<template>
  <Lista enlace="/api/facturas" :encabezados="encabezados">
    <template slot="acciones" slot-scope="item">
      <v-card flat>
      </v-card>
    </template>
  </Lista>
</template>

<script>
import { mapGetters } from 'vuex'
import accounting from 'accounting'
import Lista from '@/components/elements/Lista'

export default {
  components: {
    Lista,
  },
  data() {
    return {
      encabezados: [
        {
          text: 'RUT',
          value: 'rut',
        },
      ],
    }
  },
  methods: {
    formatoMonetario(monto) {
      return accounting.formatMoney(monto, '$', 0, '.')
    },
  },
}
</script>
